@model genetrix.Models.Justificatif

<div class="card">
    <div class="card-body">
        @{
            int ii = 0;
            if (Model.GetImages != null)
            {

                foreach (var item in Model.GetImages)
                {
                    ii++;
                    <hr />
                    <div style="padding:5px">
                        @item.Titre
                    </div>
                    <div class="col-lg-12" id="img-quit-parent" style="height:auto;">
                        <div class="row">
                            @*<div class="col-1 p-0">
                                <a infoImage="img-docTrans-parent" imgid="img-@ii" infoInputImg="upload-img-@ii" class="btn text-white img-agd" data-bs-toggle="modal" data-bs-target="#detailImage" style="font-size:x-large;margin-block:0px!important" title="Agrandir"><i class="mdi mdi-arrow-expand-all"></i></a>
                                <a infoImage="img-docTrans-parent" imgid="img-@ii" infoInputImg="upload-img-@ii" class="btn text-white img-print" style="font-size:x-large ;margin-block:0px!important" title="Imprimer"><i class="mdi mdi-printer"></i></a>
                                <a infoImage="img-docTrans-parent" imgid="img-@ii" infoInputImg="upload-img-@ii" class="btn text-white img-sup" style="font-size:x-large ;margin-block:0px!important" title="supprimer"><i class="mdi mdi-delete"></i></a>
                            </div>*@
                            <div class="col-lg-12 text-center" style="background-color:rgb(163, 232, 237, 0.14)">
                                @{
                                    var estPdf = false;
                                    try
                                    {
                                        estPdf = item.EstPdf;
                                    }
                                    catch (Exception)
                                    { }

                                    <iframe class="pdf-view @(estPdf?"":"hidden1")" src="@Url.Content("~/dossiers/GetPDF?idDoc="+item.Id+"&estDocAttache=false&idDossier="+Model.DossierId)" style="width:100%;height:100%;"></iframe>
                                    <img class="card-img img-fluid imf-taille @(!estPdf?"":"hidden1")" src="@(!string.IsNullOrEmpty(item.GetImage())?item.GetImage():"#")" alt="" />
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>