@using genetrix.Models;
@model genetrix.Models.Client
@{
    ViewBag.NonDossier = "client";
    ViewBag.clientId = Model.Id;
    ViewBag.Title = "Entreprise";
    ViewBag.pTitle = "Détail de l'entreprise";
    ViewBag.pageTitle = "Entreprise";
    ViewBag.pageImage = "~/assets/images/IU/client.png";
    string estClient = "hidden";
    try
    {
        if (Session["Profile"].ToString() == "client")
        {
            estClient = "";
        }
    }
    catch
    { }
    string _default = "";
    if (Model.Get_FicheKYC != "#")
    {
        _default = Model.Get_FicheKYC;
    }
    else if (Model.Get_PlanLSS != "#")
    {
        _default = Model.Get_PlanLSS;
    }
    else if (Model.Get_RCCM != "#")
    {
        _default = Model.Get_RCCM;
    }
    else if (Model.Get_Statut != "#")
    {
        _default = Model.Get_Statut;
    }
    else if (Model.Get_ProcesVerbal != "#")
    {
        _default = Model.Get_ProcesVerbal;
    }
    else if (Model.Get_EtatFinanciers != "#")
    {
        _default = Model.Get_EtatFinanciers;
    }
    else if (Model.Get_AtestationHinneur != "#")
    {
        _default = Model.Get_AtestationHinneur;
    }
}
@*@Html.Partial("~/Views/_Shared/_head_css.cshtml")*@
<style>
    .accordion-body {
        background-color: whitesmoke;
    }

    .docs {
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <p class="text-danger">
            @ViewBag.info
        </p>
        <table style="width:100%;margin-bottom:15px">
            <tr>
                <th>
                    <button type="button" class="btn btn-outline-info mr-2" id="btn-show-recap-transfert" _action_requied_loader="0">
                        <i class="mdi mdi-chart-tree"></i>
                        Rapport des transferts
                    </button>
                </th>
            </tr>
        </table>
        <div class="card">
            <div class="card-header card-header1">
                Configuration de l'entreprise
            </div>
            <div class="card-body row">
                <div class="col-8">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.CodeEtablissement)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CodeEtablissement)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Nom)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nom)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Telephone)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Telephone)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd> 
                        <dt>
                            @Html.DisplayNameFor(model => model.Pays)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Pays)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Ville)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ville)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Adresse)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Adresse)
                        </dd>
                    </dl>
                </div>
                <div class="col-4 border border-1 p-2 text-center">
                    <p class="text-muted">Logo</p>
                    @{
                        if (string.IsNullOrEmpty(Model.Logo))
                        {
                            Model.Logo = "null";
                        }
                    }
                    <img src="@Url.Content(Model.Logo)" style="width:150px" alt="" />
                </div>
                <a href="@Url.Content("~/Clients/Edit?id="+Model.Id)" _action_requied_loader="0"><i class="mdi mdi-pen"></i> Editer</a>
            </div>
        </div>

        <div class="card">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                @{
                    <li class="nav-item ">
                        <a class="nav-link active" data-bs-toggle="tab" href="#navtabs2-adresse" role="tab">
                            <span class="d-none d-sm-block"><i class="mdi mdi-bank fs-5"></i>&emsp; Banques tierces</span>
                        </a>
                    </li>

                    //if (Session["Profile"].ToString() == "client")
                    {
                        <li class="nav-item ">
                            <a class="nav-link" data-bs-toggle="tab" href="#navtabs2-profile" role="tab">
                                <span class="d-none d-sm-block"><i class="far fa-user"></i> &emsp; Gestionnaie</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#navtabs2-settings" role="tab">
                                <span class="d-none d-sm-block"><i class="mdi mdi-view-list-outline fs-5"></i> &emsp; Comptes bancaires</span>
                            </a>
                        </li>
                    }
                }

            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-3 text-muted">
                <div class="tab-pane active" id="navtabs2-adresse" role="tabpanel">
                    @Html.Partial("~/Views/BanqueTierClients/Index.cshtml", Model.BanqueTierClients)
                    @*@Html.Partial("~/Views/_Shared/PartialViews/Adresse_Client.cshtml", Model.Adresses)*@
                </div>

                @*<div class="tab-pane" id="navtabs2-messages" role="tabpanel">
                        @Html.Partial("~/Views/_Shared/PartialViews/Dossiers_Client.cshtml", Model.Dossiers)
                    </div>*@
                @{
                    //if (Session["Profile"].ToString() == "client")
                    {
                        <div class="tab-pane" id="navtabs2-profile" role="tabpanel">
                            @Html.Partial("~/Views/_Shared/PartialViews/Banques_Client.cshtml", Model.Banques)

                        </div>
                        <div class="tab-pane" id="navtabs2-settings" role="tabpanel">
                            @Html.Partial("~/Views/_Shared/PartialViews/NumComptes.cshtml", Model.GetNumComptes())
                        </div>
                    }
                }

            </div>

        </div>
        @{
            if (Session["Profile"].ToString() == "banque")
            {
                <duv class="card">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li class="nav-item ">
                            <a class="nav-link active" data-bs-toggle="tab" href="#fournisseurs" role="tab">
                                <span class="d-none d-sm-block"><i class="mdi mdi-nature-people fs-5"></i>&emsp; Bénéficiaires</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" data-bs-toggle="tab" href="#gestionclient" role="tab">
                                <span class="d-none d-sm-block"><i class="far fa-user"></i> &emsp; Gestionnaires</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content p-3 text-muted">
                        <div class="tab-pane active" id="fournisseurs" role="tabpanel">
                            @Html.Partial("~/Views/_Shared/PartialViews/Liste_Fournisseurs.cshtml", Model.Fournisseurs)
                        </div>
                        <div class="tab-pane" id="gestionclient" role="tabpanel">
                            @Html.Partial("~/Views/_Shared/PartialViews/Banques_Client.cshtml", Model.Banques)
                        </div>
                    </div>


                </duv>
            }
        }
        <hr />
        <div class="card1">
            <div class="card-header card-header1">
                Documents juridiques de l'entreprise (Personne(morale))
                @*<div class="float-end">
                        <a href="#" class="btn btn-outline-info active"><i class="mdi mdi-view-list"></i></a>
                        <a href="#" class="btn btn-outline-info"><i class="mdi mdi-view-array"></i></a>
                    </div>*@
            </div>
            <form action="~/clients/addfiles" method="post" enctype="multipart/form-data">
                <div class="card-body" title="Cliquez pour visualiser le fichier">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            #1 Fiche KYC <i class="mdi @(Model.FicheKYC !=null?"mdi-file-check-outline":" mdi-upload") fs-5"></i>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                         aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <input class="ml-1 input-file00 estClient" style="margin-left: 20px;" type="file" id="FicheKYC" name="FicheKYC" accept=".jpg, .jpeg, .png, .pdf" value="" />
                                        <a href="@Url.Content("~/clients/document-client?clid="+Model.Id+"&id="+Model.Get_FicheKYCId)" class="estClient"><i class="mdi mdi-delete"></i>Supprimer</a>
                                        <div class="accordion-body">
                                            @{
                                                int idDoc = 0;
                                                bool estPdf = false;
                                                string _url = "", _img = "#", visibilite = "display:none";
                                                try
                                                {
                                                    estPdf = Model.FicheKYC.EstPdf;
                                                }
                                                catch (Exception)
                                                { }
                                                if (estPdf)
                                                {
                                                    try
                                                    {
                                                        idDoc = Model.FicheKYC.Id;
                                                        _url = @Url.Content("~/clients/GetPDF?idDoc=" + idDoc + "&idClient=" + Model.Id);
                                                        visibilite = "";
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                else
                                                {
                                                    try
                                                    {
                                                        _img = Model.FicheKYC.GetImageDocumentAttache().GetImage();
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                <iframe id="iframe-FicheKYC" class="pdf-view" src="@_url" style="width:100%;height:146mm;@visibilite"></iframe>
                                                <img class="card-img img-fluid imf-taille @(estPdf?"hidden":"")" src="@(_img)" id="img-FicheKYC" alt="" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                            #2 Plan de localisation du siège social
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                         aria-labelledby="headingTwo" data-bs-parent="#headingTwo">
                                        <input class="ml-1 input-file00 estClient" style="margin-left: 20px" type="file" id="PlanLSS" name="PlanLSS" accept=".jpg, .jpeg, .png, .pdf" value="" />
                                        <a href="@Url.Content("~/clients/document-client?clid="+Model.Id+"&id="+Model.Get_PlanLSSId)" class="estClient"><i class="mdi mdi-delete"></i>Supprimer</a>
                                        <div class="accordion-body">

                                            @{
                                                idDoc = 0; estPdf = false;
                                                _url = ""; visibilite = "display:none"; _img = "#";
                                                try
                                                {
                                                    estPdf = Model.PlanLSS.EstPdf;
                                                }
                                                catch (Exception)
                                                { }

                                                if (estPdf)
                                                {
                                                    try
                                                    {
                                                        idDoc = Model.PlanLSS.Id;
                                                        _url = @Url.Content("~/clients/GetPDF?idDoc=" + idDoc + "&idClient=" + Model.Id);
                                                        visibilite = "";
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                else
                                                {
                                                    try
                                                    {
                                                        _img = Model.PlanLSS.GetImageDocumentAttache().GetImage();
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                <iframe id="iframe-PlanLSS" class="pdf-view" src="@_url" style="width:100%;height:146mm;@visibilite"></iframe>
                                                <img class="card-img img-fluid imf-taille @(estPdf?"hidden":"")" src="@(_img)" id="img-PlanLSS" alt="" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading3">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse3"
                                                aria-expanded="false" aria-controls="collapse3">
                                            #3 Extrait RCCM ou autre document tenant lieu
                                        </button>
                                    </h2>
                                    <div id="collapse3" class="accordion-collapse collapse"
                                         aria-labelledby="heading3" data-bs-parent="#heading3">
                                        <input class="ml-1 input-file00 estClient" style="margin-left: 20px" type="file" id="RCCM" name="RCCM" accept=".jpg, .jpeg, .png, .pdf" value="" />
                                        <a href="@Url.Content("~/clients/document-client?clid="+Model.Id+"&id="+Model.Get_RCCMId)" class="estClient"><i class="mdi mdi-delete"></i>Supprimer</a>
                                        <div class="accordion-body">

                                            @{
                                                idDoc = 0; estPdf = false;
                                                _url = "#"; visibilite = "display:none"; _img = "#";
                                                try
                                                {
                                                    estPdf = Model.RCCM_Cl.EstPdf;
                                                }
                                                catch (Exception)
                                                { }

                                                if (estPdf)
                                                {
                                                    try
                                                    {
                                                        idDoc = Model.RCCM_Cl.Id;
                                                        _url = @Url.Content("~/clients/GetPDF?idDoc=" + idDoc + "&idClient=" + Model.Id);
                                                        visibilite = "";
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                else
                                                {
                                                    try
                                                    {
                                                        _img = Model.RCCM_Cl.GetImageDocumentAttache().GetImage();
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                <iframe id="iframe-RCCM" class="pdf-view" src="@_url" style="width:100%;height:146mm;@visibilite"></iframe>
                                                <img class="card-img img-fluid imf-taille @(estPdf?"hidden":"")" src="@(_img)" id="img-RCCM" alt="" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading4">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse4"
                                                aria-expanded="false" aria-controls="collapse4">
                                            #4 Copie des statuts
                                        </button>
                                    </h2>
                                    <div id="collapse4" class="accordion-collapse collapse"
                                         aria-labelledby="heading3" data-bs-parent="#heading4">
                                        <input class="ml-1 input-file00 estClient" style="margin-left: 20px" type="file" id="Statut" name="Statut" accept=".jpg, .jpeg, .png, .pdf" value="" />
                                        <a href="@Url.Content("~/clients/document-client?clid="+Model.Id+"&id="+Model.Get_StatutId)" class="estClient"><i class="mdi mdi-delete"></i>Supprimer</a>
                                        <div class="accordion-body">
                                            @{
                                                idDoc = 0; estPdf = false;
                                                _url = "#"; visibilite = "display:none"; _img = "#";
                                                try
                                                {
                                                    estPdf = Model.Statut.EstPdf;
                                                }
                                                catch (Exception)
                                                { }

                                                if (estPdf)
                                                {
                                                    try
                                                    {
                                                        idDoc = Model.Statut.Id;
                                                        _url = @Url.Content("~/clients/GetPDF?idDoc=" + idDoc + "&idClient=" + Model.Id);
                                                        visibilite = "";
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                else
                                                {
                                                    try
                                                    {
                                                        _img = Model.Statut.GetImageDocumentAttache().GetImage();
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                <iframe id="iframe-Statut" class="pdf-view" src="@_url" style="width:100%;height:146mm;@visibilite"></iframe>
                                                <img class="card-img img-fluid imf-taille @(estPdf?"hidden":"")" src="@(_img)" id="img-Statut" alt="" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading5">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse5"
                                                aria-expanded="false" aria-controls="collapse5">
                                            #5 Procès-verbal nommant les dirigeants
                                        </button>
                                    </h2>
                                    <div id="collapse5" class="accordion-collapse collapse"
                                         aria-labelledby="heading5" data-bs-parent="#heading5">
                                        <input class="ml-1 input-file00 estClient" style="margin-left: 20px" type="file" id="ProcesVerbal" name="ProcesVerbal" accept=".jpg, .jpeg, .png, .pdf" value="" />
                                        <a href="@Url.Content("~/clients/document-client?clid="+Model.Id+"&id="+Model.Get_ProcesVerbalId)" class="estClient"><i class="mdi mdi-delete"></i>Supprimer</a>
                                        <div class="accordion-body">
                                            @{
                                                idDoc = 0; estPdf = false;
                                                _url = "#"; visibilite = "display:none"; _img = "#";
                                                try
                                                {
                                                    estPdf = Model.ProcesVerbal.EstPdf;
                                                }
                                                catch (Exception)
                                                { }

                                                if (estPdf)
                                                {
                                                    try
                                                    {
                                                        idDoc = Model.ProcesVerbal.Id;
                                                        _url = @Url.Content("~/clients/GetPDF?idDoc=" + idDoc + "&idClient=" + Model.Id);
                                                        visibilite = "";
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                else
                                                {
                                                    try
                                                    {
                                                        _img = Model.ProcesVerbal.GetImageDocumentAttache().GetImage();
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                <iframe id="iframe-ProcesVerbal" class="pdf-view" src="@_url" style="width:100%;height:146mm;@visibilite"></iframe>
                                                <img class="card-img img-fluid imf-taille @(estPdf?"hidden":"")" src="@(_img)" id="img-ProcesVerbal" alt="" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading6">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse6"
                                                aria-expanded="false" aria-controls="collapse6">
                                            #6 Etats financiers des deux derniers exercices
                                        </button>
                                    </h2>
                                    <div id="collapse6" class="accordion-collapse collapse"
                                         aria-labelledby="heading6" data-bs-parent="#heading6">
                                        <input class="ml-1 input-file00 estClient" style="margin-left: 20px" type="file" id="EtatFinanciers" name="EtatFinanciers" accept=".jpg, .jpeg, .png, .pdf" value="" />
                                        <a href="@Url.Content("~/clients/document-client?clid="+Model.Id+"&id="+Model.Get_EtatFinanciersId)" class="estClient"><i class="mdi mdi-delete"></i>Supprimer</a>
                                        <div class="accordion-body">
                                            @{
                                                idDoc = 0; estPdf = false;
                                                _url = "#"; visibilite = "display:none"; _img = "#";
                                                try
                                                {
                                                    estPdf = Model.EtatFinanciers.EstPdf;
                                                }
                                                catch (Exception)
                                                { }

                                                if (estPdf)
                                                {
                                                    try
                                                    {
                                                        idDoc = Model.EtatFinanciers.Id;
                                                        _url = @Url.Content("~/clients/GetPDF?idDoc=" + idDoc + "&idClient=" + Model.Id);
                                                        visibilite = "";
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                else
                                                {
                                                    try
                                                    {
                                                        _img = Model.EtatFinanciers.GetImageDocumentAttache().GetImage();
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                <iframe id="iframe-EtatFinanciers" class="pdf-view" src="@_url" style="width:100%;height:146mm;@visibilite"></iframe>
                                                <img class="card-img img-fluid imf-taille @(estPdf?"hidden":"")" src="@(_img)" id="img-EtatFinanciers" alt="" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading7">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse7"
                                                aria-expanded="false" aria-controls="collapse7">
                                            #7 Attestation sur l'honneur
                                        </button>
                                    </h2>
                                    <div id="collapse7" class="accordion-collapse collapse"
                                         aria-labelledby="heading7" data-bs-parent="#heading7">
                                        <input class="ml-1 input-file00 estClient" style="margin-left: 20px" type="file" id="AtestationHinneur" name="AtestationHinneur" accept=".jpg, .jpeg, .png, .pdf" value="" />
                                        <a href="@Url.Content("~/clients/document-client?clid="+Model.Id+"&id="+Model.Get_AtestationHinneurId)" class="estClient"><i class="mdi mdi-delete"></i>Supprimer</a>
                                        <div class="accordion-body">
                                            @{
                                                idDoc = 0; estPdf = false;
                                                _url = "#"; visibilite = "display:none"; _img = "#";
                                                try
                                                {
                                                    estPdf = Model.AtestationHinneur.EstPdf;
                                                }
                                                catch (Exception)
                                                { }

                                                if (estPdf)
                                                {
                                                    try
                                                    {
                                                        idDoc = Model.AtestationHinneur.Id;
                                                        _url = @Url.Content("~/clients/GetPDF?idDoc=" + idDoc + "&idClient=" + Model.Id);
                                                        visibilite = "";
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                else
                                                {
                                                    try
                                                    {
                                                        _img = Model.AtestationHinneur.GetImageDocumentAttache().GetImage();
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                <iframe id="iframe-AtestationHinneur" class="pdf-view" src="@_url" style="width:100%;height:146mm;@visibilite"></iframe>
                                                <img class="card-img img-fluid imf-taille @(estPdf?"hidden":"")" src="@(_img)" id="img-AtestationHinneur" alt="" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading8">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse8"
                                                aria-expanded="false" aria-controls="collapse8">
                                            #8 Plan de localisation du domicile
                                        </button>
                                    </h2>
                                    <div id="collapse8" class="accordion-collapse collapse"
                                         aria-labelledby="heading8" data-bs-parent="#heading8">
                                        <input class="ml-1 input-file00 estClient" style="margin-left: 20px" type="file" id="PlanLOcalisationDomi" name="PlanLOcalisationDomi" accept=".jpg, .jpeg, .png, .pdf" value="" />
                                        <a href="@Url.Content("~/clients/document-client?clid="+Model.Id+"&id="+Model.Get_PlanLOcalisationDomi)" class="estClient"><i class="mdi mdi-delete"></i>Supprimer</a>
                                        <div class="accordion-body">
                                            @{
                                                idDoc = 0; estPdf = false;
                                                _url = "#"; visibilite = "display:none"; _img = "#";
                                                try
                                                {
                                                    estPdf = Model.PlanLOcalisationDomi.EstPdf;
                                                }
                                                catch (Exception)
                                                { }

                                                if (estPdf)
                                                {
                                                    try
                                                    {
                                                        idDoc = Model.PlanLOcalisationDomi.Id;
                                                        _url = @Url.Content("~/clients/GetPDF?idDoc=" + idDoc + "&idClient=" + Model.Id);
                                                        visibilite = "";
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                else
                                                {
                                                    try
                                                    {
                                                        _img = Model.PlanLOcalisationDomi.GetImageDocumentAttache().GetImage();
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                <iframe id="iframe-PlanLOcalisationDomi" class="pdf-view" src="@_url" style="width:100%;height:146mm;@visibilite"></iframe>
                                                <img class="card-img img-fluid imf-taille @(estPdf?"hidden":"")" src="@(_img)" id="img-PlanLOcalisationDomi" alt="" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading9">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse9"
                                                aria-expanded="false" aria-controls="collapse9">
                                            #9 Justificatifsn de domicile (facture d'eau ou d'électricité)
                                        </button>
                                    </h2>
                                    <div id="collapse9" class="accordion-collapse collapse"
                                         aria-labelledby="heading9" data-bs-parent="#heading9">
                                        <input class="ml-1 input-file00 estClient" style="margin-left: 20px" type="file" id="JustifDomicile" name="JustifDomicile" accept=".jpg, .jpeg, .png, .pdf" value="" />
                                        <a href="@Url.Content("~/clients/document-client?clid="+Model.Id+"&id="+Model.Get_JustifDomicile)" class="estClient"><i class="mdi mdi-delete"></i>Supprimer</a>
                                        <div class="accordion-body">
                                            @{
                                                idDoc = 0; estPdf = false;
                                                _url = "#"; visibilite = "display:none"; _img = "#";
                                                try
                                                {
                                                    estPdf = Model.JustifDomicile.EstPdf;
                                                }
                                                catch (Exception)
                                                { }

                                                if (estPdf)
                                                {
                                                    try
                                                    {
                                                        idDoc = Model.JustifDomicile.Id;
                                                        _url = @Url.Content("~/clients/GetPDF?idDoc=" + idDoc + "&idClient=" + Model.Id);
                                                        visibilite = "";
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                else
                                                {
                                                    try
                                                    {
                                                        _img = Model.JustifDomicile.GetImageDocumentAttache().GetImage();
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                <iframe id="iframe-JustifDomicile" class="pdf-view" src="@_url" style="width:100%;height:146mm;@visibilite"></iframe>
                                                <img class="card-img img-fluid imf-taille @(estPdf?"hidden":"")" src="@(_img)" id="img-JustifDomicile" alt="" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading10">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse10"
                                                aria-expanded="false" aria-controls="collapse10">
                                            #10 Copie de la carte d'identité ou du passeport
                                        </button>
                                    </h2>
                                    <div id="collapse10" class="accordion-collapse collapse"
                                         aria-labelledby="heading10" data-bs-parent="#heading10">
                                        <input class="ml-1 input-file00 estClient" style="margin-left: 20px" type="file" id="CarteIdentie" name="CarteIdentie" accept=".jpg, .jpeg, .png, .pdf" value="" />
                                        <a href="@Url.Content("~/clients/document-client?clid="+Model.Id+"&id="+Model.Get_CarteIdentie)" class="estClient"><i class="mdi mdi-delete"></i>Supprimer</a>
                                        <div class="accordion-body">
                                            @{
                                                idDoc = 0; estPdf = false;
                                                _url = "#"; visibilite = "display:none"; _img = "#";
                                                try
                                                {
                                                    estPdf = Model.CarteIdentie.EstPdf;
                                                }
                                                catch (Exception)
                                                { }

                                                if (estPdf)
                                                {
                                                    try
                                                    {
                                                        idDoc = Model.CarteIdentie.Id;
                                                        _url = @Url.Content("~/clients/GetPDF?idDoc=" + idDoc + "&idClient=" + Model.Id);
                                                        visibilite = "";
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                else
                                                {
                                                    try
                                                    {
                                                        _img = Model.CarteIdentie.GetImageDocumentAttache().GetImage();
                                                    }
                                                    catch (Exception)
                                                    { }
                                                }
                                                <iframe id="iframe-CarteIdentie" class="pdf-view" src="@_url" style="width:100%;height:146mm;@visibilite"></iframe>
                                                <img class="card-img img-fluid imf-taille @(estPdf?"hidden":"")" src="@(_img)" id="img-CarteIdentie" alt="" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading11">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse11"
                                                aria-expanded="false" aria-controls="collapse11">
                                            #11 Autres documents
                                        </button>
                                    </h2>
                                    <div id="collapse11" class="accordion-collapse collapse"
                                         aria-labelledby="heading11" data-bs-parent="#heading11">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <button id="ajout-autredoc" type="button" class="btn btn-primary waves-effect waves-light estClient" doc-type="0" data-bs-toggle="modal" data-bs-target="#modal-ajout-document">
                                                        <i class="mdi mdi-file-document"></i>
                                                        Ajouter
                                                    </button>
                                                    <hr />
                                                    <div class="table-responsive">
                                                        <table class="table" id="">
                                                            <thead>
                                                                <tr>

                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Nom)
                                                                    </th>
                                                                    <th>
                                                                        Actions
                                                                    </th>
                                                                </tr>
                                                            </thead>

                                                            <tbody id="transportdoc_table_body">
                                                                @foreach (var item in Model.AutresDocuments)
                                                                {
                                                                    <tr class="docs" _id="@item.Id">

                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Nom)
                                                                        </td>
                                                                        <td>
                                                                            @*<a href="#" data-just="@item.Id" class="detail-view-doc" title="Visualiser"><i class="mdi mdi-eye-circle"></i>Lien du document</a> |*@
                                                                            <a href="@Url.Content("~/DocumentAttaches/Details?id="+item.Id)">Details</a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                            <tfoot>
                                                            </tfoot>
                                                        </table>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" name="name" value="Enregistrer" _action_requied_loader="0" class="btn btn-primary" /> |
                    <a href="@Url.Content("~/Clients/Edit?id="+Model.Id)" _action_requied_loader="0"><i class="mdi mdi-pen"></i> Editer</a>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="modal fade" id="modal-ajout-document" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel20" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="text-align:center!important;width:40%!important;">
        <div class="modal-content badge border border-3 border-info p-0" style="text-align:left!important;position:center">
            <div class="modal-header card-header1 m-0">
                <h5 class="modal-title mt-0 text-white" id="staticBackdropLabel20">Ajout d'un document</h5>
                <button type="button" id="modal-ajout-document-close" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                @{
                    DocumentAttache documentAttache = new DocumentAttache()
                    {
                        DateCreation = DateTime.Now
                    };
                }
                @Html.Partial("~/Views/_Shared/PartialViews/AutreDocuments_DetailView .cshtml", documentAttache)
            </div>
        </div>
    </div>
</div>

<script>
    var elts = document.getElementsByClassName('input-file00');
    for (var i = 0; i < elts.length; i++) {
        elts[i].onchange = evt => {
            const [file] = evt.target.files;
            if (file) {
                var iframe21 = document.getElementById('iframe-' + evt.target.getAttribute("id"));
                var img21 = document.getElementById('img-' + evt.target.getAttribute("id"));
                if (file.type == "application/pdf") {
                    try {
                        img21.style.display = 'none';
                        iframe21.setAttribute('src', URL.createObjectURL(file));
                        iframe21.style.display = 'initial';
                        $(iframe21).show();
                        iframe21.classList.remove("hidden");
                    } catch (e) {

                    }
                } else {
                    try {
                        iframe21.style.display = 'none';
                        img21.setAttribute('src', URL.createObjectURL(file));
                        img21.style.display = 'initial';
                        $(img21).show();
                        img21.classList.remove("hidden");
                    } catch (e) {

                    }
                }
            }
        }
    }

</script>
<a class="hidden" id="ouvre-modal-recap-transfert" data-bs-toggle="modal" data-bs-target="#modal-recap-transfert"></a>
@Html.Partial("~/Views/Analyses/Modal_Recap.cshtml")
@Html.Partial("~/Views/_Shared/_Script_DataList.cshtml")
@*@Html.Partial("~/Views/_Shared/PartialViews/AfficheImageDocument.cshtml")*@
<script>
    $('.docs').click(function () {
        $('.autredocs').hide();
        var _url = '@Url.Content("~/clients/GetPDF?idDoc=")' + this.getAttribute('_id') + '&idClient=' + '@Model.Id';
        $('#iframe-viewAutreDoc').attr('src', '');
        $('#iframe-viewAutreDoc').attr('src', _url);
    });
    $(document).ready(function () {
        try {
            $('#bt-valider-autre-document').click(function () {
               document.getElementById('cp-form-doc').setAttribute('action', '@Url.Content("~/Clients/AddAutresDocs")');
               document.getElementById('cp-form-doc').submit();
            });
        } catch (e) {

        }
         try {
            //Resume du dossier
            document.getElementById('iframe-recap-transfert').onload = function () {
            this.style = "height:100%;width:100%";
            document.getElementById('ouvre-modal-recap-transfert').click();
                document.getElementById('Preloader_partiel').style.display = 'none';
             };
            $("#btn-show-recap-transfert").click(function () {
                $('#iframe-recap-transfert').attr('src', '');
                $('#iframe-recap-transfert').attr('src', '@Url.Content("~/Analyses/RecapTransfert?id="+Model.Id+"&pdf=True")');
            });
        } catch (e) {

        }
    });
</script>
