@model genetrix.Models.Banque

@{
    ViewBag.Title = "Banque";
    ViewBag.pTitle = "Detail Banque";
    ViewBag.pageTitle = "Banque";
    ViewBag.pageImage = "~/assets/images/IU/bank.png";
}

@Html.Partial("~/Views/_Shared/_head_css.cshtml")
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Adresse)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Adresse)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telephone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Telephone)
                    </dd>

                </dl>

            </div>
            <div class="card-footer">
                <p>
                    @Html.ActionLink("Editer", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Voir la liste", "Index")
                </p>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/_Shared/PartialViews/Configuration_Banque.cshtml")

@Html.Partial("~/Views/_Shared/_Script_DataList.cshtml")
