@model genetrix.Models.PubItem
@{
    var duree = ViewBag.prt_dur;
    var xxtime = Model.Id+"_"+DateTime.Now.Millisecond;
    bool apercu = false;
    string _url = "https://bepiletussar.casa/tsk/o19*GzjjTgBDCXdRaMe2nb*XAbeK3w5OXJV1ut74hw9ZrnQKC1lWWbgn0kgaTwuy5PZJMQqfxe2hvENVZsgJMaPsaQQsh0Gp4wU1XU45Wmg",
        _desc = "Il s'agit d'une carte moins large qui présente des petites notifications."
        , _titre = "Card Notification",
        _lien = "", _lienText = "", nodeBas = "";
    if (!apercu)
    {
        _titre = Model.Titre;
        _desc = Model.Description;
        _url = Model.Image;
        _lien = Model.LienUrl;
        _lienText = Model.LienText;
        nodeBas = Model.NoteBas;
    }
}
<div class="btn-ferme item-visibilite" duree="@duree" time="" _id="@Model.Id" id="card-per-@xxtime" style="overflow:hidden;" contrast="colored">
    <div class="card-img-bottom">
        <div class="" style="margin:10px">
            <h4 class="card-title titre mt-0 elt-pading" style="color:@Model.TitreColor">@Html.Raw(_titre)</h4>
            <p class="card-text elt-pading" style="color:@Model.DescriptionColor">
                @Html.Raw(_desc)
            </p>
            <p class="card-text">
                @{
                    if (!string.IsNullOrEmpty(nodeBas))
                    {
                        <small class="text-white elt-pading"> @Html.Raw(nodeBas)</small>
                    }
                    if (!string.IsNullOrEmpty(_lien))
                    {
                        <a href="#" class="text-white elt-pading">@(string.IsNullOrEmpty(_lienText)?_lien:_lienText)</a>
                    }
                }
            </p>
        </div>
        <img class="img-bottom pub-img" src="@Url.Content(_url)" alt="Card image">
    </div>
    <div class="btn-style" data-role="nothing">
        <div class="ferme-notif" id="cls-@xxtime" _id="card-per-@xxtime" data-role="close">×</div>
    </div>
    <script id="scpt-@xxtime">
        try {
            $('.ferme-notif').on('click', function () {
            var _id = this.getAttribute('_id');
            $('#' + _id).hide(400);
                setTimeout(function () {
                    if (document.getElementById(_id)) {
                        document.getElementById(_id).remove();
                    }
            }, 400);
            });
                @*setTimeout(function () {
                     if (document.getElementById('cls-@xxtime')) {
                      document.getElementById('cls-@xxtime').click();
                    }
                }, '@duree');*@
        } catch (e) {

        }
    </script>
</div>
