@model IEnumerable<genetrix.Models.DocumentAttache>

<div class="table-responsive">
    <table class="table" id="">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.TypeDocumentAttaché)
                </th>*@
                <th>
                    Actions
                </th>
            </tr>
        </thead>

        <tbody id="transportdoc_table_body">
            @foreach (var item in Model)
            {
                <tr class="docs" _id="@item.Id">

                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.TypeDocumentAttaché)
                    </td>*@
                    <td>
                        @*<a href="#" data-just="@item.Id" class="detail-view-doc" title="Visualiser"><i class="mdi mdi-eye-circle"></i>Lien du document</a> |*@
                        <a href="@Url.Content("~/DocumentAttaches/Details?id="+item.Id)">Details</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    
</div>

