@model int[]

<a class="col-xl-4" href="@Url.Content("~/dossiers_banque/index?st=aapurer")">
    <div class="card card-item" id="doss-recu">
        <div class="card-body">
            <div>
                <div class="float-end mt-2 ">
                    <div id="total-revenue-chart1">
                        <p class="mdi mdi-folder-clock-outline icon0"></p>
                    </div>
                </div>
                <div>
                    <h4 class="mb-1 mt-1"><span data-plugin="counterup">@(Model[0]+Model[1]+Model[2])</span></h4>
                    <p class="text-muted mb-0 fs-5">Dossiers à apurer</p>
                </div>
                <p class="text-muted" style="position: absolute; bottom: 0; width: 100%;">
                    <span title="Dossiers en local" class="racourci-comp" style="margin-left:0px" href="aapurer-acc">
                        <span class="text-warning me-1"><i style="font:bolder" class="mdi mdi-folder-text me-1"></i>@(Model[0])</span> <span style="text-transform:uppercase">à</span> completer
                    </span>
                    <span title="Dossiers en local" class="racourci-comp" href="aapurer-av">
                        <span class="text-info me-1"><i style="font:bolder" class="mdi mdi-folder-text me-1"></i>@(Model[1])</span> <span style="text-transform:uppercase">à</span> valider
                    </span>
                    <span title="Dossiers rejetés" class="racourci-comp" style="margin-left:0px" href="echu">
                        <span class="text-danger me-1"><i style="font:bolder" class="mdi mdi-folder-alert me-1"></i>@(Model[2]) </span><span style="text-transform:uppercase">é</span>chus
                    </span>
                </p>
            </div>
        </div>
    </div>
</a>
<a class="col-xl-4" href="@Url.Content("~/dossiers_banque/index?st=aapurer-beac&comp=&interf=")">
    <div class="card card-item" id="doss-recu">
        <div class="card-body">
            <div>
                <div class="float-end mt-2 ">
                    <div id="total-revenue-chart1">
                        <p class="mdi mdi-folder-sync-outline icon0"></p>
                    </div>
                </div>
                <div>
                    <h4 class="mb-1 mt-1"><span data-plugin="counterup">@Model[3]</span></h4>
                    <p class="text-muted mb-0 fs-5">Dossiers à la BEAC</p>
                </div>
                @*<p class="text-muted" style="position: absolute; bottom: 0; width: 100%;">
                    <span title="Dossiers en local" class="racourci-comp" href="ech-av">
                        <span class="text-warning me-1"><i style="font:bolder" class="mdi mdi-folder-text me-1"></i>@(Model[4])</span> <span style="text-transform:uppercase">à</span> valider
                    </span>
                    <span title="Dossiers rejetés" class="racourci-comp" href="echu-rej">
                        <span class="text-danger me-1"><i style="font:bolder" class="mdi mdi-folder-alert me-1"></i>@(Model[5])</span> @("Rejetés")
                    </span>
                </p>*@
            </div>
        </div>
    </div>
</a>
<a class="col-xl-4" href="@Url.Content("~/dossiers_banque/index?st=apure&comp=&interf=")">
    <div class="card card-item" id="doss-recu">
        <div class="card-body">
            <div>
                <div class="float-end mt-2 ">
                    <div id="total-revenue-chart1">
                        <p class="uil uil-folder-check icon0"></p>
                    </div>
                </div>
                <div>
                    <h4 class="mb-1 mt-1"><span data-plugin="counterup">@Model[4]</span></h4>
                    <p class="text-muted mb-0 fs-5">Dossiers apurés</p>
                </div>
                <p class="text-white p-1 bg-gradient-success" style="position:absolute; bottom: 0; width: 40%;font-size:small;height:30px;margin-left:-20px;">
                    Apurés
                </p>
            </div>
        </div>
    </div>
</a>

