@model genetrix.Models.CompteClient
@{
    ViewBag.Title = "Utilisateur";
    ViewBag.pTitle = "Edition de l'Utilisateur ";
    ViewBag.pageTitle = "Utilisateur";
    ViewBag.pageImage = "~/assets/images/IU/user.png";
    var bb = Model.EstAdmin;
}
@Html.Partial("~/Views/_Shared/_head_css.cshtml")


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header card-header1">
                <p class="text-danger">@ViewBag.msg</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label " })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Prenom, htmlAttributes: new { @class = "control-label " })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Sexe, htmlAttributes: new { @class = "control-label " })
                        <div class="col-md-12">
                            @Html.EnumDropDownListFor(model => model.Sexe, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Sexe, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Tel1, htmlAttributes: new { @class = "control-label " })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Tel1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tel1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Tel2, htmlAttributes: new { @class = "control-label " })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Tel2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tel2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3 hidden">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label " })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-lg-6">
                            @Html.LabelFor(model => model.NomUtilisateur, htmlAttributes: new { @class = "control-label " })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.NomUtilisateur, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NomUtilisateur, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group mb-3 col-lg-6">
                            @Html.Label("Mot de passe", htmlAttributes: new { @class = "control-label " })
                            <div class="col-md-12">
                                <input type="password" class="form-control" name="PassWordTmp" value="" />
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.ModeRestrait)
                    {
                        <div class="row pl-3">
                            <h4>Habilitations</h4>
                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.IdUserRole, "Role utilisateur", htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @*@Html.DropDownList("IdUserRole", null, htmlAttributes: new { @class = "form-control" })*@
                                    <select class="form-control" id="IdUserRole" name="IdUserRole">
                                        <option value="@Model.IdUserRole">@Model.Get_RoleName</option>
                                        @{
                                            foreach (var item in ViewBag.IdUserRole)
                                            {
                                                if (item.Value != Model.Get_RoleId.ToString())
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.IdUserRole, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <hr />
                            <div class="form-group  mb-3 col-lg-4">
                                @Html.LabelFor(model => model.EstAdmin, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.EstAdmin, new { @id = "EstAdmin" })
                                        @Html.ValidationMessageFor(model => model.EstAdmin, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  mb-3 col-lg-4">
                                @Html.LabelFor(model => model.CreerDossier, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.CreerDossier)
                                        @Html.ValidationMessageFor(model => model.CreerDossier, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group  mb-3 col-lg-4">
                                @Html.LabelFor(model => model.SoumettreDossier, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.SoumettreDossier)
                                        @Html.ValidationMessageFor(model => model.SoumettreDossier, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  mb-3 col-lg-4">
                                @Html.LabelFor(model => model.CreerUser, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.CreerUser)
                                        @Html.ValidationMessageFor(model => model.CreerUser, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  mb-3 col-lg-4">
                                @Html.LabelFor(model => model.ModifUser, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.ModifUser)
                                        @Html.ValidationMessageFor(model => model.ModifUser, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  mb-3 col-lg-4">
                                @Html.LabelFor(model => model.SuppUser, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.SuppUser)
                                        @Html.ValidationMessageFor(model => model.SuppUser, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  mb-3 col-lg-4">
                                @Html.LabelFor(model => model.CreerBenef, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.CreerBenef)
                                        @Html.ValidationMessageFor(model => model.CreerBenef, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  mb-3 col-lg-4">
                                @Html.LabelFor(model => model.ModifBenef, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.ModifBenef)
                                        @Html.ValidationMessageFor(model => model.ModifBenef, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  mb-3 col-lg-4">
                                @Html.LabelFor(model => model.SuppBenef, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.SuppBenef)
                                        @Html.ValidationMessageFor(model => model.SuppBenef, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                    <div class="form-group mb-3">
                        <div class="col-md-offset-2 col-md-12 mt-3">
                            <button type="submit" value="Enregistrer" class="btn btn-outline-info">
                                <i class="far fa-save me-2"></i>
                                Enrégistrer
                            </button>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Voir la liste", "Index")
</div>
@Html.Partial("~/Views/_Shared/_Script_DataList.cshtml")
<script>
    $(document).ready(function () {
        $(".check-box").attr('disabled', 'disabled');
        $(".check-box").attr('readonly', 'readonly');
        $("#EstAdmin").removeAttr('disabled');
        $("#EstAdmin").removeAttr('readonly');
    });
</script>