@model genetrix.Models.BanqueTierClient


@{
    ViewBag.Title = "Banque tierce";
    ViewBag.pTitle = "Banque tierce";
    ViewBag.pageTitle = "Banque tierce";
    ViewBag.pageImage = "~/assets/images/IU/structure.png";
}

@Html.Partial("~/Views/_Shared/_head_css.cshtml")


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header card-header1 text-white">
                Détails de la banque
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Client.Nom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Client.Nom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ville)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ville)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Pays)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Pays)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Adresse)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Adresse)
                    </dd>

                </dl>
            </div>

            <div class="card-footer">
                <p>
                    @Html.ActionLink("Editer", "Edit", new { id = Model.Id }) |
                    <a href="@Url.Content("~/Clients/details?id="+Model.IdClient)">content</a>
                </p>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/_Shared/_Script_DataList.cshtml")

