@model IEnumerable<genetrix.Models.BanqueTierClient>

@{
    int idClient = 0;
    try
    {
        idClient = Convert.ToInt32(ViewBag.clientId);
    }
    catch (Exception)
    { }
}
<p>
    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ajout-banque"><i class="mdi mdi-plus"></i> Ajouter une banque</a>
</p>
<div class="table-responsive">
    <table id="datatable-buttons2" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ville)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pays)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresse)
                </th>
                <th></th>
            </tr>
        </tbody>

        <tfoot>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ville)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresse)
                    </td>
                    <td>
                        <a href="@Url.Content("~/BanquetierClients/Edit?id="+item.Id)">Editer</a> |
                        <a href="@Url.Content("~/BanquetierClients/Delate?id="+item.Id)">Supprimer</a> 
                    </td>
                </tr>
            }
        </tfoot>
    </table>
</div>
<div class="modal fade ajout-comp" id="ajout-banque" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="text-align:center!important;width:40%!important;">
        <div class="modal-content p-0" style="text-align: left !important; position: center; border: 3px solid #2689a6;">
            <div class="modal-header m-0">
                <h5 class="modal-title mt-0 text-white" id="staticBackdropLabel">Ajout de la banque</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/BanqueTierClients/Create.cshtml", new genetrix.Models.BanqueTierClient() { IdClient = idClient } )
            </div>
            <div class="card-header1"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
