@model genetrix.Models.VariablGlobales
@using genetrix.Models

@{
    if (string.IsNullOrEmpty(ViewBag.interf))
    {
        var info = Model.GetAllDataBankByEtapesDeviseBeac(new int?[] { 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,22,23 }, 0, estBeac: 0, all_beac_non: true);
        try
        {
            //dossiers reçus
            <a class="col-xl-3" href="@Url.Content("~/dossiers_banque/index?st=reçus9")">
                <div class="card card-item" id="doss-recu" style="overflow: hidden;color:forestgreen">
                    <div class="card-body">
                        <div>
                            <div class="float-end mt-2 ">
                                <div id="total-revenue-chart1">
                                    <p class="mdi mdi-basket-fill icon0"></p>
                                </div>
                            </div>
                            <div>
                                <h4 class="mb-1 mt-1"><span data-plugin="counterup">@(info.Where(d=>d.EtapeDossier==9).Count())</span></h4>
                                <p class="text-muted mb-0 fs-5">Dossiers reçus</p>
                            </div>
                            <p class="text-muted" style="position: absolute; bottom: 0; width: 100%;margin-left:0px;">
                                @{
                                    //Notification
                                    <span title="Dossiers reçus (euro)" class="col-6 racourci-comp" href="eur-recus">
                                       <span class="text-info me-1"><i style="font:bolder" class="mdi mdi-currency-eur me-1"></i> @(info.Where(ii=>ii.EtapeDossier == 9 && ii.NbrEUR==1).Count()) </span>EUROS
                                    </span>
                                    @("    ")
                                    <span title="Dossiers reçus (autres deivises)" class="col-6 racourci-comp" href="autres-recus">
                                        <span class="text-primary me-1"><i style="font:bolder" class="mdi mdi-currency-eth me-1"></i> @(info.Where(ii => ii.EtapeDossier == 9 && ii.NbrEUR == 0).Count()) </span>@("Autres devises")
                                    </span>
                                    @*<span title="Voir les refinancements" class="racourci-comp" href="ref-recu">
                                            <span class="text-danger me-1"><i class="uil uil-exclamation-octagon me-1"></i>@(info.NbrRef)</span> @("Refinancements")
                                        </span>*@
                                }

                            </p>
                        </div>
                    </div>
                </div>
            </a>
        }
        catch (Exception)
        { }

        try
        {
            var dfxnbr=info.Where(d => d.EtapeDossier > 9 && d.EtapeDossier <= 20 && d.NbrEUR == 1 && (d.DFX6FP6BEAC==1) && !(d.DFX6FP6BEAC==2)).Count();
            var refnbr=info.Where(d => d.DFX6FP6BEAC == 3 && d.EtapeDossier >= 10 && d.EtapeDossier < 15).Count();
            var fpnbr=info.Where(d => d.EtapeDossier > 9 &&  d.EtapeDossier <= 20 && (d.DFX6FP6BEAC==2) && !(d.DFX6FP6BEAC==1) && !(d.DFX6FP6BEAC==3)).Count();
            //en cours
            <a class="col-xl-3" href="@Url.Content("~/Dossiers_banque/index?st=encours9")">
                <div class="card card-item" id="doss-dfx">
                    <div class="card-body">
                        <div>
                            <div class="float-end mt-2 ">
                                <div id="total-revenue-chart1">
                                    <p class="mdi mdi-folder-sync-outline icon0"></p>
                                </div>
                            </div>
                            <div>
                                <h4 class="mb-1 mt-1"><span data-plugin="counterup">@(dfxnbr+refnbr+fpnbr)</span></h4>
                                <p class="text-muted mb-0 fs-5">En cours de traitement</p>
                            </div>
                            <p class="text-muted" style="position: absolute; bottom: 0; width: 100%;">
                                @{
                                    //Notification
                                    @*<span title="Dossiers en cours (DFX)" class="racourci-comp" href="eur-encours">*@
                                    <span title="DFX" class="racourci-comp" href="dfx-encours">
                                        <span class="text-warning1 me-1"><i style="font:bolder" class="mdi mdi-currency-eur1 me-1"></i>@(dfxnbr) </span> @("DFX")
                                    </span>
                                    <span title="Refinancement" class="racourci-comp" href="ref-encours">
                                            <span class="text-primary1 me-1"><i style="font:bolder" class="uil uil-folder-check1 me-1"></i>@(refnbr)</span> Ref
                                        </span>
                                    <span title="Fonds propres" class="racourci-comp" href="fp-encours" style="margin-left:15px">
                                        <span class="text-success1 me-1"><i class="mdi mdi-currency-eth1 me-1"></i>@(fpnbr)</span> FP
                                    </span>
                                }

                            </p>
                        </div>
                    </div>
                </div>
            </a>
        }
        catch (Exception)
        { }

        try
        {

            //BEAC
            <a class="col-xl-3" href="@Url.Content("~/Dossiers_banque/index?st=beac")">
                <div class="card card-item" id="doss-ref">
                    <div class="card-body">
                        <div>
                            <div class="float-end mt-2 ">
                                <div id="total-revenue-chart1">
                                    <p class="mdi mdi-basket-unfill icon0"></p>
                                </div>
                            </div>
                            <div>
                                <h4 class="mb-1 mt-1"><span data-plugin="counterup">@(info.Where(d => d.EtapeDossier >=15 && (d.DFX6FP6BEAC==3) && d.EtapeDossier<=20).Count())</span></h4>
                                <p class="text-muted mb-0 fs-5">Dossiers BEAC</p>
                            </div>
                            <p class="text-muted" style="position: absolute; bottom: 0; width: 100%;overflow-x:unset">
                                @{
                                    //Notification
                                    <span title="Dossiers en cours de traitement BEAC" class="racourci-comp" href="encours-beac" style="margin-left:0px">
                                        <span class="text-warning1 me-1"><i style="font:bolder" class="mdi mdi-autorenew1 me-1"></i>@(info.Where(d => d.EtapeDossier ==15 && (d.DFX6FP6BEAC==3)).Count())</span> @("En cours")
                                    </span>
                                    <span title="Dossiers accordés" class="racourci-comp" href="accord-beac" style="padding-left:0px;margin-right:0px">
                                        <span class="text-info1 me-1"><i style="font:bolder" class="mdi mdi-send-circle-outline1 me-1"></i>@(info.Where(d => d.EtapeDossier >= 16 && d.EtapeDossier <19 && (d.DFX6FP6BEAC==3)).Count()) </span> Accordés
                                    </span>
                                    @*<span title="Dossiers rejetés" class="racourci-comp" href="rej-beac">
                                        <span class="text-danger me-1"><i class="mdi mdi-currency-eth1 me-1"></i>@(info.Where(d => d.EtapeDossier ==-2 && (d.DFX6FP6BEAC==3)).Count())</span> Rejetés
                                    </span>*@
                                    <span title="Devise reçue" class="racourci-comp" style="margin-left:0px" href="devise-recu-ref">
                                        <span class="text-success me-1"><i class="mdi mdi-currency-eth1 me-1"></i>@(info.Where(d => (d.EtapeDossier ==19 || d.EtapeDossier ==20) && (d.DFX6FP6BEAC==3)).Count())</span> Devise reçue
                                    </span>
                                }

                            </p>
                        </div>
                    </div>
                </div>
            </a>

        }
        catch (Exception)
        { }
                                    
       try
        {
            var info2=info.Where(d =>d.EtapeDossier== 22 || d.EtapeDossier== 23);
            var dfxnbr=info2.Where(d=>d.DFX6FP6BEAC==1).Count();
            var fpnbr=info2.Where(d=>d.DFX6FP6BEAC==2).Count();
            var refnbr=info2.Where(d=>d.DFX6FP6BEAC==3).Count();
            //Traité
            <a class="col-xl-3" href="@Url.Content("~/Dossiers_banque/index?st=traite")">
                <div class="card card-item" id="doss-ref">
                    <div class="card-body">
                        <div>
                            <div class="float-end mt-2 ">
                                <div id="total-revenue-chart1">
                                    <p class="uil uil-folder-check icon0"></p>
                                </div>
                            </div>
                            <div>
                                <h4 class="mb-1 mt-1"><span data-plugin="counterup">@(dfxnbr+fpnbr+refnbr)</span></h4>
                                <p class="text-muted mb-0 fs-5">Dossiers traités</p>
                            </div>
                            <p class="text-muted" style="position: absolute; bottom: 0; width: 100%;">
                                @{
                                    //Notification
                                    <span title="DFX" class="racourci-comp" href="traite-dfx" style="margin-left:0px">
                                        <span class="text-warning1 me-1"><i style="font:bolder" class="mdi mdi-autorenew1 me-1"></i>@(dfxnbr)</span> DFX
                                    </span>
                                    <span title="Refinancement" class="racourci-comp" href="traite-ref" style="padding-left:0px">
                                        <span class="text-info1 me-1"><i style="font:bolder" class="mdi mdi-send-circle-outline1 me-1"></i>@(refnbr) </span> Ref
                                    </span>
                                    <span title="Dossiers sur fonds propres" class="racourci-comp" href="traite-fp">
                                        <span class="text-primary1 me-1"><i class="mdi mdi-alert-circle1 me-1"></i>@(fpnbr)</span> FP
                                    </span>
                                }

                            </p>
                        </div>
                    </div>
                </div>
            </a>

        }
        catch (Exception)
        { }
    }
    else if (ViewBag.interf == "dfx")
    {
        //dossiers dfx
        var enc = Model.GetAllDataBankByEtapes(new int?[] { 10, 11 }, 1).NbrDFX;
        var nb_v = Model.GetAllDataBankByEtapes(new int?[] { 18, 19, 20, 21 }, 1).NbrDFX;
        var nb_a = Model.GetAllDataBankByEtapes(new int?[] { 22 }, 1).NbrDFX;

        @Html.Partial("~/Views/_Shared/PartialViews/Dfx.cshtml", new List<int>() { enc, nb_v, nb_a })
    }
    else if (ViewBag.interf == "refinancement")
    {
        //refinancement
        var nb_aenv = Model.GetAllDataBankByEtapes(new int?[] { 19, 20, 21 }, 2).Nbr;
        var nb_enc = Model.GetAllDataBankByEtapes(new int?[] { 11, 12, 13, 14 }, 2).Nbr;
        var nb_beac = Model.GetAllDataBankByEtapes(new int?[] { 15, 16, 17, 18 }, 2).Nbr;

        @Html.Partial("~/Views/_Shared/PartialViews/Refinancement.cshtml", new List<int>() { nb_enc, nb_aenv, nb_beac })
    }
}