@using genetrix.Models
@model VariablGlobales
@{
    ViewBag.globalvariable = Model;
    string panel = string.IsNullOrEmpty(ViewBag.interf) ? "Tableau de bord " : ViewBag.interf;// + ViewBag.userName : ViewBag.interf;
    ViewBag.Title = panel;
    ViewBag.pTitle = panel;
    ViewBag.pageTitle = panel;// (ViewBag.ModeName == genetrix.Contants.LAYOUT_VERTICAL) ? "Minible" : "Layouts";
    ViewBag.pageImage = string.IsNullOrEmpty(ViewBag.interf) ? "~/assets/images/IU/bank.png" : "~/assets/images/IU/allDoc.png";

    Session["recu_doc"] = 0; //(ViewData["e1_0"] as InfoDocAcueil).Nbr;
    Session["encours"] = 0; //(ViewData["e2_0"] as InfoDocAcueil).Nbr;
    Session["aapurer"] = 0; // (ViewData["e10_0"] as InfoDocAcueil).Nbr;
    Session["echus"] = 0; //((ViewData["e12_0"] as InfoDocAcueil).Nbr);
    Session["attentetransmissionbeac"] = 0; //((ViewData["e4_0"] as InfoDocAcueil).Nbr);
    Session["atten_couv"] = 0; // ((ViewData["e7_0"] as InfoDocAcueil).Nbr);
    Session["accord"] = 0; //((ViewData["e8_0"] as InfoDocAcueil).Nbr);
    Session["saisieencours"] = 0; //((ViewData["e7_0"] as InfoDocAcueil).Nbr);
    Session["encours_stf"] = 0; // ((ViewData["e4_2"] as InfoDocAcueil).Nbr);

    int minSite = 0, maxSite = 0;
    try
    {
        minSite = Convert.ToInt32(Session["userSIteMinNiveau"]);
        maxSite = Convert.ToInt32(Session["userSIteMaxNiveau"]);
    }
    catch (Exception)
    { }

    int nbrComposants = 0; string rowItems = "col-xl-8 offset-2";
    try
    {
        nbrComposants = int.Parse("" + ViewBag.nbrComposant);
        if (nbrComposants >= 3)
        {
            rowItems = "col-xl-4";
        }
        //else if (nbrComposants == 3)
        //{
        //    rowItems = "col-xl-4";
        //}
        else if (nbrComposants == 2)
        {
            rowItems = "col-xl-6";
        }
    }
    catch (Exception)
    { }
    string lab = "",st_usd="",st_autre="";
    if (ViewBag.etat == "recu")
    {
        lab = "Reçus";
        st_usd = "usd-recus";
        st_autre = "autres-recus";
    }
    else
    {
        lab = "En cours";
        st_usd = "usd-encours";
        st_autre = "autres-encours";
    }
}
@Html.Partial("~/Views/_Shared/_head_css.cshtml")
<style>
    .img-tab {
        height: 80px;
        width: 80px
    }

    fieldset {
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px groove (internal value);
    }

    .card-item {
        min-height: 170px;
        height: 170px;
        border: 1px solid #5fcbcb;
    }

    .card-item1 {
        border: 1px solid #5fcbcb
    }

    .card-item:hover {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    .racourci-comp:hover {
        background-color: rgb(174, 203, 55, 0.90);
        height: 55px;
        color: white
    }
</style>
<div class="row">
    @{
        if (minSite == 9)//minSite=service transfert
        {
            List<InfoDocAcueil2> infos = new List<InfoDocAcueil2>();
            if (ViewBag.etat == "recu")
            {
                //nbrAutre = Model.GetAllDataBankByEtapes(new int?[] { 9 }, 0).NbrAutreDevise;
                infos = Model.GetAllDataBankByEtapesDeviseBeac(new int?[] { 9 }, 0, 0, all_beac_non: true);
            }
            else
            {
                //nbrAutre = Model.GetAllDataBankByEtapes(new int?[] { 10,11,12,13,14 }, 0).NbrAutreDevise;
                infos = Model.GetAllDataBankByEtapesDeviseBeac(new int?[] { 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 }, 0, 0);
            }


            try
            {
                //dossiers reçus
                <a class="col-xl-6" href="@Url.Content("~/dossiers_banque/index?st="+st_usd)">
                    <div class="card card-item" id="doss-recu" style="overflow: hidden">
                        <div class="card-body">
                            <div>
                                <div class="float-end">
                                    <div id="total-revenue-chart1" style="margin-top:-25px">
                                        @*<img class="rounded avatar-xl img-tab" alt="100x100" src="~/assets/images/IU/recus.png" data-holder-rendered="true">*@
                                        <i class="mdi mdi-currency-usd-circle text-warning" style="font-size:7em;margin-top:-10px"></i>
                                    </div>
                                </div>
                                <div>
                                    <h4 class="mb-1 mt-1"><span data-plugin="counterup">@(infos.Where(d=>d.NbrUSD>0).Count())</span></h4>
                                    <p class="text-muted mb-0 fs-5">USD</p>
                                </div>
                                <p class="text-white p-1 bg-gradient-success" style="position:absolute; bottom: 0; width: 40%;font-size:small;height:30px;margin-left:-20px;">
                                    @lab
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            }
            catch (Exception)
            { }

            try
            {
                //var nbrAutre= 0;
                
                <a class="col-xl-6" href="@Url.Content("~/dossiers_banque/index?st="+st_autre)">
                    <div class="card card-item" id="doss-dfx">
                        <div class="card-body">
                            <div>
                                <div class="float-end mt-2 ">
                                    <div id="total-revenue-chart1" style="margin-top:-25px">
                                        @*<img class="rounded avatar-xl img-tab" alt="100x100" src="~/assets/images/IU/encours.png" data-holder-rendered="true">*@
                                        <i class="mdi mdi-currency-eth text-warning" style="font-size:7em;margin-top:-10px"></i>
                                    </div>
                                </div>
                                <div>
                                    <h4 class="mb-1 mt-1"><span data-plugin="counterup">@(infos.Where(d=>d.NbrAutreDevise>0).Count())</span></h4>
                                    <p class="text-muted mb-0 fs-5">Autres devises</p>
                                </div>
                                <p class="text-white p-1 bg-gradient-success" style="position:absolute; bottom: 0; width: 40%;font-size:small;height:30px;margin-left:-20px;">
                                    @lab
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            }
            catch (Exception)
            { }

        }

        @* composant 11:  Liste de tous les dossiers *@
        <div numero="11">
            <div class="ck-toolbar__separator mb-2 p-1"><hr class="fs-2 m-0" style="height:15%!important" /></div>

            <div class="alert alert-border alert-border-info alert-dismissible fade show mt-0" role="alert">
                <i class="mdi mdi-folder-multiple-outline font-size-16 text-primary me-2"></i>
                Dossiers BEAC
                <div class="mt-3" style="min-height:200px">
                    @{
                        List<ReferenceBanque> references = null;
                        try
                        {
                            references = Model.DossiersBEAC;
                        }
                        catch (Exception)
                        { }
                        if (references == null)
                        {
                            references = new List<ReferenceBanque>();
                        }
                    }
                    @Html.Partial("~/Views/_Shared/PartialViews/ListeDossiersBEAC.cshtml", Model.DossiersBEAC == null ? new List<ReferenceBanque>() : Model.DossiersBEAC)
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        </div>


    }

</div>
<a id="link-partial-docs" href="#"></a>
<a id="link-comp" class="hidden" href="#"></a>
@Html.Partial("~/Views/_Shared/_Script_DataList.cshtml")
<!-- apexcharts -->
<script>
    $(document).ready(function () {
        //$('.racourci-comp').click(function (e) {
        //    document.getElementById('link-comp').setAttribute("href", this.getAttribute("href"));
        //    document.getElementById('link-comp').click();
        //    e.stopPropagation();
        //});

         $('.racourci-comp').click(function (e) {
             var _url = '@Url.Content("~/Dossiers_banque/Index?st=")' + this.getAttribute("href");
            var self = document.getElementById('link-partial-docs');
            self.setAttribute("href", _url);
            e.preventDefault(); // prevent default any way
            self.click();
        });

    });
</script>