@model IEnumerable<genetrix.Models.XtraRole>
@{
    ViewBag.Title = "Rôles";
    ViewBag.pTitle = "Liste de rôles ";
    ViewBag.pageTitle = "Rôles";
    ViewBag.pageImage = "~/assets/images/IU/role.png";
    //Layout = "~/Views/_Shared/_Layout.cshtml";
}

<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
@Html.Partial("~/Views/_Shared/_head_css.cshtml")
<p>
    <a class="" href="@Url.Action("Create","XtraRoles")">
        <i class="dripicons-plus me-2"></i>
        Nouveau rôle
    </a>
</p>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-gradient-primary text-white">
                Liste de rôles
            </div>
            <div class="card-body">
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nom)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nom)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.RoleId }) |
                                    @Html.ActionLink("Détails", "Details", new { id = item.RoleId }) |
                                    @Html.ActionLink("Supprimer", "Delete", new { id = item.RoleId })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
@Html.Partial("~/Views/_Shared/_Script_DataList.cshtml")