@model genetrix.Models.Client
@{
    ViewBag.Title = "Entreprise";
    ViewBag.pTitle = "Edition de l'entreprise";
    ViewBag.pageTitle = "Entreprise";
    ViewBag.pageImage = "~/assets/images/IU/client.png";
}
@Html.Partial("~/Views/_Shared/_head_css.cshtml")


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header1 card-header text-white">
                Edition du client
            </div>
            <div class="card-body">
                <form action="~/clients/Edit" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*@Html.HiddenFor(model => model.Id)*@
                        <input type="number" class="hidden" name="Id" value="@Model.Id" />
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-md-12 mb-3">
                                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group  mb-3">
                                    @Html.LabelFor(model => model.ModeRestraint, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.ModeRestraint)
                                            @Html.ValidationMessageFor(model => model.ModeRestraint, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-md-12 mb-3">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-md-12 mb-3">
                                        @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Pays, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-md-12 mb-3">
                                        @Html.EditorFor(model => model.Pays, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Pays, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Ville, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-md-12 mb-3">
                                        @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="col-4 border border-1 p-2">
                                <div class="text-center" style="min-height:150px;background-color:#c9eaea;margin-bottom:8px">
                                    <p class="text-muted">Logo</p>
                                    @{
                                        if (string.IsNullOrEmpty(Model.Logo))
                                        {
                                            Model.Logo = "null";
                                        }
                                    }
                                    <img src="@Url.Content(Model.Logo)" style="width:150px" alt="" />
                                    <input type="file" name="Logo" value="" accept="image/png, image/gif, image/jpeg,video/*" />
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adresse, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-md-12 mb-3">
                                        @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodeEtablissement, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-md-12 mb-3">
                                        @Html.EditorFor(model => model.CodeEtablissement, new { htmlAttributes = new { @class = "form-control", @maxlength = "5" } })
                                        @Html.ValidationMessageFor(model => model.CodeEtablissement, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="col-md-offset-2 col-md-12 mb-3 mt-3">
                                <button type="submit" value="Enregistrer" class="btn btn-primary" _action_requied_loader="0">
                                    <i class="far fa-save me-2"></i>
                                    Enrégistrer
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr />

        <div class="card">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified card-header1" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link active" data-bs-toggle="tab" href="#navtabs2-profile" role="tab">
                        <span class="d-block d-sm-none"><i class="mdi mdi-user"></i></span>
                        <span class="d-none d-sm-block">Gestionnaire</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#navtabs2-messages" role="tab">
                        <span class="d-block d-sm-none"><i class="far fa-phone"></i></span>
                        <span class="d-none d-sm-block">Coordonnées</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#navtabs2-settings" role="tab">
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block">Utilisateurs</span>
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-3 text-muted">
                @*<div class="tab-pane active" id="navtabs2-home" role="tabpanel">
                    @Html.Partial("~/Views/_Shared/PartialViews/Adresse_Client.cshtml", Model.Adresses)
                </div>*@
                <div class="tab-pane active" id="navtabs2-profile" role="tabpanel">
                    @Html.Partial("~/Views/_Shared/PartialViews/Banques_Client.cshtml", Model.Banques)

                </div>
                <div class="tab-pane" id="navtabs2-messages" role="tabpanel">
                    @Html.Partial("~/Views/_Shared/PartialViews/Adresse_Client.cshtml", Model.Adresses)
                </div>
                <div class="tab-pane" id="navtabs2-settings" role="tabpanel">
                    @Html.Partial("~/Views/_Shared/PartialViews/Users_Client.cshtml", Model.Utilisateurs)

                </div>
            </div>

        </div>

        @*<hr />
        <div class="card hidden">
            <div class="card-header">
                <h3 class="float-start">Dossiers de l'entreprise</h3>
                <div class="float-end">
                    <a href="#" class="btn btn-outline-info active"><i class="mdi mdi-view-list"></i></a>
                    <a href="#" class="btn btn-outline-info"><i class="mdi mdi-view-array"></i></a>
                </div>
            </div>
            <form action="~/clients/addfiles" method="post">
                <div class="card-body" title="Cliquez pour visualiser le fichier">
                    <div class="mb-2">
                        <a href="#" input1="FicheKYC" class="file-doc">#1 Fiche KYC</a>
                        <i class="mdi mdi-upload fs-5">
                            <input class="ml-1 hidden" type="file" id="FicheKYC" name="FicheKYC" accept=".jpg, .jpeg, .png, .pdf" value="" />
                        </i>
                    </div>
                    <div class="mb-2"><a href="#" input1="PlanLSS" class="file-doc">#2 Plan localisation du siège social</a> <i class="mdi mdi-upload fs-5"><input class="ml-1 hidden" type="file" id="PlanLSS" name="PlanLSS" accept=".jpg, .jpeg, .png, .pdf" value="" /></i></div>
                    <div class="mb-2"><a href="#" input1="RCCM" class="file-doc">#3 Extrait RCCM ou autre document tenant lieu</a><i class="mdi mdi-upload fs-5"><input class="ml-1 hidden" type="file" id="RCCM" name="RCCM" accept=".jpg, .jpeg, .png, .pdf" value="" /></i></div>
                    <div class="mb-2"><a href="#" input1="Statut" class="file-doc">#4 Copie des statuts</a> <i class="mdi mdi-upload fs-5"><input class="ml-1 hidden" type="file" id="Statut" name="Statut" accept=".jpg, .jpeg, .png, .pdf" value="" /></i></div>
                    <div class="mb-2"><a href="#" input1="ProcesVerbal" class="file-doc">#5 Proces-verbal nommant les dirigeants</a> <i class="mdi mdi-upload fs-5"><input class="ml-1 hidden" type="file" id="ProcesVerbal" name="ProcesVerbal" accept=".jpg, .jpeg, .png, .pdf" value="" /></i></div>
                    <div class="mb-2"><a href="#" input1="EtatFinanciers" class="file-doc">#6 Les états financiers des deux derniers exercices</a> <i class="mdi mdi-upload fs-5"><input class="ml-1 hidden" type="file" id="EtatFinanciers" name="EtatFinanciers" accept=".jpg, .jpeg, .png, .pdf" value="" /></i></div>
                    <div class="mb-2"><a href="#" input1="AtestationHinneur" class="file-doc">#7 Attestation sur honneur</a><i class="mdi mdi-upload fs-5"> <input class="ml-1 hidden" type="file" id="AtestationHinneur" name="AtestationHinneur" accept=".jpg, .jpeg, .png, .pdf" value="" /></i></div>
                </div>
            </form>
        </div>*@
    </div>
</div>

@Html.Partial("~/Views/_Shared/_Script_DataList.cshtml")

<script>
    $(document).ready(function () {
        $('.file-doc').click(function () {
            $('#' + this.getAttribute("input1")).click();
            $('#' + this.getAttribute("input1")).parent().removeClass("mdi-upload");
            $('#' + this.getAttribute("input1")).parent().addClass("mdi-file-check-outline");
        });

        $('.file-doc').for
    });
</script>