@model genetrix.Models.Conformite

@{
    ViewBag.Title = "Conformité";
    ViewBag.pTitle = "Details Conformité";
    ViewBag.pageTitle = "Conformité";
    ViewBag.pageImage = "~/assets/images/IU/structure.png";
}

@Html.Partial("~/Views/_Shared/_head_css.cshtml")


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header card-header1 text-white">
                Détails
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Responsable.Nom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Responsable.Nom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TypeStructure.Intitule)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TypeStructure.Intitule)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Adresse)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Adresse)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ville)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ville)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Pays)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Pays)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telephone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Telephone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telephone2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Telephone2)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NiveauDossier)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NiveauDossier)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VoirDossiersAutres)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VoirDossiersAutres)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VoirUsersAutres)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VoirUsersAutres)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VoirClientAutres)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VoirClientAutres)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EstAgence)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EstAgence)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NiveauH)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NiveauH)
                    </dd>
                </dl>
            </div>

            <div class="card-footer">
                <p>
                    @Html.ActionLink("Editer", "Edit", new { id = Model.Id })
                </p>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/_Shared/_Script_DataList.cshtml")

