@model IEnumerable<genetrix.Models.Conformite>

@{
    ViewBag.Title = "Conformité";
    ViewBag.pTitle = "Conformité";
    ViewBag.pageTitle = "Conformité";
    ViewBag.pageImage = "~/assets/images/IU/structure.png";
}


<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
@Html.Partial("~/Views/_Shared/_head_css.cshtml")
<p>
    <a class="" href="@Url.Action("Create","conformites")">
        <i class="dripicons-plus me-2"></i>
        Création
    </a>
</p>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header1 text-white">
                Liste
            </div>
            <div class="card-body">
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Responsable.Nom)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TypeStructure.Intitule)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nom)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Adresse)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ville)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pays)
                            </th>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.NiveauDossier)
                            </th><th>
                                @Html.DisplayNameFor(model => model.NiveauMaxDossier)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VoirDossiersAutres)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VoirUsersAutres)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VoirClientAutres)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EstAgence)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NiveauH)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Responsable.Nom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TypeStructure.Intitule)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Adresse)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ville)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pays)
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.NiveauDossier)
                                </td><td>
                                    @Html.DisplayFor(modelItem => item.NiveauMaxDossier)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VoirDossiersAutres)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VoirUsersAutres)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VoirClientAutres)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EstAgence)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NiveauH)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
@Html.Partial("~/Views/_Shared/_Script_DataList.cshtml")
