@model genetrix.Models.Structure
@{
    ViewBag.Title = "Structure";
    ViewBag.pTitle = "Nouvelle structure";
    ViewBag.pageTitle = "Structure";
     ViewBag.pageImage = "~/assets/images/IU/structure.png";
}

@Html.Partial("~/Views/_Shared/_head_css.cshtml")

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header1 card-header text-white">Création d'une  structure</div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group mb-3">
                        <i class="mdi mdi-information"> </i>
                        @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <i class="mdi mdi-home"> </i>
                        @Html.LabelFor(model => model.Adresse, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <i class="mdi mdi-city"> </i>
                        @Html.LabelFor(model => model.Ville, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <i class="mdi mdi-country"> </i>
                        @Html.LabelFor(model => model.Pays, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Pays, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Pays, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group mb-3">
            @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Telephone2, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Telephone2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telephone2, "", new { @class = "text-danger" })
            </div>
        </div>*@

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group mb-3 mb-3">
                                @Html.LabelFor(model => model.NiveauDossier, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.NiveauDossier, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NiveauDossier, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-3 mb-3">
                                @Html.LabelFor(model => model.NiveauMaxManager, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.NiveauMaxManager, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NiveauMaxManager, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-3 mb-3">
                                @Html.LabelFor(model => model.NiveauMaxDossier, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.NiveauMaxDossier, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NiveauMaxDossier, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.IdTypeStructure, "Typede la structure", htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.DropDownList("IdTypeStructure", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdTypeStructure, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-lg-6 mb-3">
                            @Html.Label("Suivi chat", htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.SuitChat)
                                    @Html.ValidationMessageFor(model => model.SuitChat, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6 mb-3">
                            @Html.Label("Est une agence?", htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.EstAgence)
                                    @Html.ValidationMessageFor(model => model.EstAgence, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 mb-3">
                            <i class="mdi mdi-settings"> </i>
                            @Html.LabelFor(model => model.LireTouteReference, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.LireTouteReference)
                                    @Html.ValidationMessageFor(model => model.LireTouteReference, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <i class="mdi mdi-account"> </i>
                        @Html.LabelFor(model => model.IdResponsable, "Responsable", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12">
                            <select name="IdResponsable" class="form-control">
                                <option value="0"></option>
                                @{
                                    foreach (var item in ViewData["users"] as List<genetrix.Models.CompteBanqueCommerciale>)
                                    {
                                        <option value="@item.Id">@item.NomComplet</option>
                                    }
                                }
                            </select>

                            @Html.ValidationMessageFor(model => model.IdResponsable, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Validet" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                }
            </div>
            <div class="card-footer">
                <p>
                    @Html.ActionLink("Voir la liste", "Index")
                </p>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="~/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
@*jquery step*@
<script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>

<script src="~/assets/js/app.js"></script>
