@model genetrix.Models.Structure

@{
    ViewBag.Title = "Structure";
    ViewBag.pTitle = "Edition structure";
    ViewBag.pageTitle = "Structure";
    ViewBag.pageImage = "~/assets/images/IU/structure.png";
    ViewBag.StructureId = Model.Id;
    ViewBag.estStructure = "1";
}

@Html.Partial("~/Views/_Shared/_head_css.cshtml")

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header1 card-header text-white">Edition</div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Structure</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Adresse, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Ville, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Pays, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Pays, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Pays, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group mb-3">
            @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Telephone2, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Telephone2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telephone2, "", new { @class = "text-danger" })
            </div>
        </div>*@

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group mb-3 mb-3">
                                @Html.LabelFor(model => model.NiveauDossier, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.NiveauDossier, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NiveauDossier, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-3 mb-3">
                                @Html.LabelFor(model => model.NiveauMaxManager, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.NiveauMaxManager, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NiveauMaxManager, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-3 mb-3">
                                @Html.LabelFor(model => model.NiveauMaxDossier, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.NiveauMaxDossier, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NiveauMaxDossier, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.IdTypeStructure, "Typede la structure", htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.DropDownList("IdTypeStructure", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdTypeStructure, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-lg-6 mb-3">
                            @Html.Label("Suivi chat", htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.SuitChat)
                                    @Html.ValidationMessageFor(model => model.SuitChat, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6 mb-3">
                            @Html.LabelFor(model => model.EstAgence, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.EstAgence)
                                    @Html.ValidationMessageFor(model => model.EstAgence, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 mb-3">
                            @Html.LabelFor(model => model.LireTouteReference, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.LireTouteReference)
                                    @Html.ValidationMessageFor(model => model.LireTouteReference, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.IdResponsable, "Responsable", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12">
                            @Html.DropDownList("IdResponsable", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdResponsable, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="form-group mb-3 mt-3">
                            <button type="submit" value="Enregistrer" class="btn btn-outline-info">
                                <i class="far fa-save me-2"></i>
                                Enrégistrer
                            </button>
                        </div>
                    </div>

                </div>
                }
            </div>
            <div class="card-footer">
                <p>
                    @Html.ActionLink("Voir la liste", "Index")
                </p>
            </div>
        </div>
        <hr />
        <div class="card-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#uti" role="tab">
                        <span class="d-block d-sm-none1"><i class="fas fa-user"></i></span>
                        <span class="d-none d-sm-block">Utilisateurs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#compo" role="tab">
                        <span class="d-block d-sm-none1"><i class="fas fa-archway"></i></span>
                        <span class="d-none d-sm-block">Permitions composants</span>
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-3 text-muted">
                <div class="tab-pane active" id="uti" role="tabpanel">
                    <div class="card border border-primary">
                        <div class="card-body bg-gradient-info">
                            <h3 class="text-white">Utilisateurs</h3>
                            <div class="mt-0">
                                @using genetrix.Models;
                                @using genetrix.Models;
                                @{
                                    List<CompteBanqueCommerciale> users = new List<CompteBanqueCommerciale>();
                                    try
                                    {
                                        // foreach (var item in Model.Agents)
                                        foreach (var item in ViewBag.ow_users as List<CompteBanqueCommerciale>)
                                        {
                                            try
                                            {
                                                users.Add(item);
                                            }
                                            catch (Exception)
                                            { }
                                        }
                                    }
                                    catch (Exception)
                                    {}
                                }
                                @Html.Partial("~/Views/_Shared/PartialViews/Utilisateurs_Structure.cshtml",users)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="compo" role="tabpanel">
                    <div class="card border border-primary">
                        <div class="card-body bg-gradient-info">
                            <h3 class="text-white">Composants</h3>
                            <div class="mt-0">
                                @{
                                    List<IHMStructure> iHMs = new List<IHMStructure>();
                                    try
                                    {
                                        foreach (var item in ViewBag.ihms)
                                        {
                                            try
                                            {
                                                iHMs.Add(item as IHMStructure);
                                            }
                                            catch (Exception)
                                            { }
                                        }
                                    }
                                    catch (Exception)
                                    {}
                                }
                                @Html.Partial("~/Views/_Shared/PartialViews/Composants_Structure.cshtml", iHMs)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="~/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
@*jquery step*@
<script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>

<script src="~/assets/js/app.js"></script>
