@model genetrix.Models.Fournisseurs

@Html.Partial("~/Views/_Shared/_head_css.cshtml")
<div class="card">
    <div class="card-header"><h3 class="text-danger">Êtes-vous sûr de vouloir supprimer ce fournisseur?</h3></div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Client.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Client.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tel2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tel2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tel1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tel1)
            </dd>

        </dl>

    </div>
    <div class="card-footer">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-default" /> |
                @Html.ActionLink("Voir la liste", "Index")
            </div>
        }
    </div>
</div>
@Html.Partial("~/Views/_Shared/_Script_DataList.cshtml")
