@model IEnumerable<genetrix.Models.Fournisseurs>

@{
    ViewBag.Title = "Fournisseurs";
    ViewBag.pTitle = "Liste de fournisseurs " + ViewBag.statut;
    ViewBag.pageTitle = "Fournisseurs";
    ViewBag.pageImage = "~/assets/images/IU/fournisseur.png";
    //Layout = "~/Views/_Shared/_Layout.cshtml";
}

<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
@*@Html.Partial("~/Views/_Shared/_head_css.cshtml")*@
@if (ViewBag.ModeRestraint)
{
    if (ViewBag.CreerBenef)
    {
        <p>
            <a class="" href="@Url.Action("Create","Fournisseurs")">
                <i class="dripicons-plus me-2"></i>
                Nouveau fournisseur
            </a>
        </p>
    }
}
else
{
    <p>
        <a class="" href="@Url.Action("Create","Fournisseurs")">
            <i class="dripicons-plus me-2"></i>
            Nouveau fournisseur
        </a>
    </p>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nom)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tel1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pays)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ville)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tel1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pays)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ville)
                                </td>
                                <td style="font-size:large;padding:0px!important;text-align:center">
                                    @{
                                        if (ViewBag.ModeRestraint)
                                        {
                                            if (ViewBag.ModifBenef)
                                            {
                                                <a title="Editer" href="@Url.Content("~/Fournisseurs/Edit/"+item.Id)">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            }
                                            <a title="Détails" class="text-info" href="@Url.Content("~/Fournisseurs/Details/"+item.Id)">
                                                <i class="mdi mdi-details"></i>
                                            </a>
                                            if (ViewBag.SuppBenef)
                                            {
                                                <a title="Supprimer" class="text-danger" href="@Url.Content("~/Fournisseurs/Delete/"+item.Id)">
                                                    <i class="mdi mdi-delete"></i>
                                                </a>
                                            }
                                        }
                                        else
                                        {
                                            <a title="Editer" href="@Url.Content("~/Fournisseurs/Edit/"+item.Id)">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a title="Détails" class="text-info" href="@Url.Content("~/Fournisseurs/Details/"+item.Id)">
                                                <i class="mdi mdi-details"></i>
                                            </a>
                                            <a title="Supprimer" class="text-danger" href="@Url.Content("~/Fournisseurs/Delete/"+item.Id)">
                                                <i class="mdi mdi-delete"></i>
                                            </a>
                                        }
                                    }

                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="~/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/libs/jszip/jszip.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>

<script src="~/assets/js/app.js"></script>

