@model genetrix.Models.ReferenceBanque

<input type="file" id="upload-courrier" class="hidden" name="fileCourrier" accept=".jpg, .jpeg, .png, .pdf" value="" />
<input type="file" id="upload-recap" class="hidden" name="fileRecap" accept=".jpg, .jpeg, .png, .pdf" value="" />
<div id="modal-ajout_courrier" class="modal fade" tabindex="-1" aria-labelledby="#add-courriers" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header card-header1">
                <h5 class="modal-title mt-0 text-white" id="add-courriers">Numérisation du courrier: Ajouter le courrier signé et le tableau recapitulatif des transferts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: rgb(163, 232, 237, 0.14)">
                <fieldset>
                    <legend style="font-weight:bolder">&bull; Courrier</legend>
                    <div id="de-courrier">
                        <div class="card-body">
                            <div style="">
                                <button id="scanner-2" href="#" class="btn btn-outline-info scan-bt">
                                    <i class="mdi mdi-scanner"></i>
                                    Scanner
                                </button>
                                <span class="btn btn-outline-info" onclick="document.getElementById('upload-courrier').click()" style="max-width:150px;max-height:40px;">
                                    <label for="upload-img-2" style="float:left"> <i class="mdi mdi-upload"></i> Choisr un fichier</label>
                                </span>
                                <span class="text-muted pl-1" id="courrier-file-size"></span>
                            </div>
                            <div class="col-lg-12" id="img-courrier-parent" style="max-height:100%;">
                                <div class="row">
                                    <div class="col-1 p-0 bg-gradient-dark1 hidden">
                                        <a infoImage="img-courrier-parent" imgid="img-courrier" infoInputImg="upload-img-2" class="btn text-white" style="font-size:x-large ;margin-block:0px!important" title="supprimer"><i class="mdi mdi-delete"></i></a>
                                    </div>
                                    <div class="col-11 p-3 text-left">
                                        @{
                                            var estPdf = false; string url = "",img="";
                                            try
                                            {
                                                estPdf = Model.Courrier.EstPdf;
                                            }
                                            catch (Exception)
                                            { }
                                            if (estPdf)
                                            {
                                                int idDoc = 0;
                                                try
                                                {
                                                    idDoc = Model.Courrier.Id;
                                                    url = Url.Content("~/dossiers/GetPDF?idDoc=" + idDoc + "&estDocAttache=true&idDossier=0");
                                                }
                                                catch (Exception)
                                                { }
                                            }
                                            else
                                            {
                                                img = Model.Get_Courrier;
                                            }
                                            <iframe id="iframe-img-courrier" class="pdf-view @(estPdf?"":"hidden")" src="@url"></iframe>
                                            <img class="card1 bg-transparent-img img-fluid imf-taille @(estPdf?"hidden":"")" src="@(img)" style="max-height:150px;max-width:150px" id="img-courrier" alt="" />
                                        }

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <fieldset>
                    <legend style="font-weight:bolder">&bull; Tableau recapitulatif des transferts</legend>
                    <div id="de-recap">
                        <div class="card-body">
                            <div style="">
                                <button id="scanner-3" href="#" class="btn btn-outline-info scan-bt">
                                    <i class="mdi mdi-scanner"></i>
                                    Scanner
                                </button>
                                <span class="btn btn-outline-info" onclick="document.getElementById('upload-recap').click()" style="max-width:150px;max-height:40px;">
                                    <label for="upload-img-3" style="float:left"> <i class="mdi mdi-upload"></i> Choisr un fichier</label>
                                </span>
                                <span class="text-muted pl-1" id="recap-file-size"></span>
                            </div>
                            <div class="col-lg-12" id="img-recap-parent" style="max-height:100%;">
                                <div class="row">
                                    <div class="col-1 p-0 bg-gradient-dark1 hidden">
                                        <a infoImage="img-recap-parent" imgid="img-recap" infoInputImg="upload-img-3" class="btn text-white" style="font-size:x-large ;margin-block:0px!important" title="supprimer"><i class="mdi mdi-delete"></i></a>
                                    </div>
                                    <div class="col-11 p-3 text-left">
                                        @{
                                            estPdf = false; url = ""; img="";
                                            try
                                            {
                                                estPdf = Model.RecapTransfert.EstPdf;
                                            }
                                            catch (Exception)
                                            { }
                                            if (estPdf)
                                            {
                                                int idDoc = 0;
                                                try
                                                {
                                                    idDoc = Model.RecapTransfert.Id;
                                                    url = Url.Content("~/dossiers/GetPDF?idDoc=" + idDoc + "&estDocAttache=true&idDossier=0");
                                                }
                                                catch (Exception)
                                                { }
                                            }
                                            else
                                            {
                                                img = Model.Get_Recap;
                                            }
                                            <iframe id="iframe-img-recap" class="pdf-view @(estPdf?"":"hidden")" src="@url"></iframe>
                                            <img class="card1 bg-transparent-img img-fluid imf-taille @(estPdf?"hidden":"")" src="@(img)" style="max-height:150px;max-width:150px" id="img-recap" alt="" />
                                        }

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-bs-dismiss="modal"><i class="mdi mdi-cancel"></i> Annuler</button>
                <button type="submit" id="btn-valider-courrier" class="btn btn-primary waves-effect waves-light"><i class="mdi mdi-check"></i> Valider</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
