@model genetrix.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Utilisateur";
    ViewBag.pTitle = "Réinitialisation du mot de passe";
    ViewBag.pageTitle = "Utilisateur";
    ViewBag.pageImage = "~/assets/images/IU/user.png";
    Layout = "~/Views/_Shared/_BlankLayout.cshtml";
}
@Html.Partial("~/Views/_Shared/_head_css.cshtml")
<body class="authentication-bg">

    <div class="home-btn d-none d-sm-block">
        <a href=@Url.Action("Index", "index") class="text-dark"><i class="mdi mdi-home-variant h2"></i></a>
    </div>
    <div class="account-pages my-5  pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div>

                        <a href=@Url.Action("Index", "index") class="mb-5 d-block auth-logo">
                            <img src="~/assets/images/logo/logo-dark1.png" alt="" height="22" class="logo logo-dark">
                            <img src="~/assets/images/logo/logo-light1.png" alt="" height="22" class="logo logo-light">
                        </a>
                        <div class="card">

                            <div class="card-body p-4">

                                <div class="text-center mt-2">
                                    <p class="text-muted">Réinitialisation du mot de passe.</p>
                                </div>
                                <div class="p-2 mt-4">
                                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <h4>@ViewBag.pTitle</h4>
                                        <hr />
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.Email)
                                        @Html.HiddenFor(model => model.Code)
                                        @*<div class="form-group">
                                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control",@readonly="readonly" })
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                            <div class="col-md-10">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                            <div class="col-md-10">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" class="btn btn-primary" value="Réinitialiser" />
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p>
                                ©
                                <script>document.write(new Date().getFullYear())</script>  Developpé avec <i class="mdi mdi-heart text-danger"></i> par <a href="https://themesbrand.com/" target="_blank" class="text-reset"> P&L Interactiv</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>

</body>
@Html.Partial("~/Views/_Shared/_Script_DataList.cshtml")
