@model genetrix.Models.StatutDossier

@{
    ViewBag.Title = "Statut";
    ViewBag.pTitle = "Suppression du status";
    ViewBag.pageTitle = "Status";
    // ViewBag.pageImage = "~/assets/images/IU/encours.png";
}

@Html.Partial("~/Views/_Shared/_head_css.cshtml")
<div class="card">
    <div class="card-header"><h3 class="text-danger">Êtes-vous sûr de vouloir supprimer ce dossier?</h3></div>
    <div class="card-body">
        <h4>Dossier</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EtatDossier)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EtatDossier)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Message)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Message)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Titre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

        </dl>

    </div>
    <div class="card-footer">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-default" /> |
                @Html.ActionLink("Voir la liste", "Index")
            </div>
        }
    </div>
</div>
@Html.Partial("~/Views/_Shared/_Script_DataList.cshtml")