<!DOCTYPE html>
@using genetrix.Models;
<html lang="fr">
@{ 
    List<UserVM> userVMs = null;
    try
    {
        userVMs = ViewData["corespondants"] as List<UserVM>;
    }
    catch (Exception)
    { }
    if (userVMs==null)
    {
        userVMs = new List<UserVM>();
    }
    bool estBanque = false;
    try
    {
        if ((string)Session["userType"] == "CompteBanqueCommerciale")
        {
            estBanque = true;
        }
    }
    catch (Exception)
    {}
}
<head>
    @Html.Partial("~/Views/_Shared/_head_css.cshtml")
    @Html.Partial("~/Views/_Shared/_Script_DataList.cshtml")

    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <!-- plugin css -->
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/spectrum-colorpicker2/spectrum.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/libs/chenfengyuan/datepicker/datepicker.min.css">

    <style>
        .select2{
            margin-bottom:5px;
            width:100%!important;
        }
        .btn-ss{
            min-width:100px!important;
        }
    </style>
</head>
<body style="background-color:whitesmoke;padding:10px;overflow-x:hidden">
    <form action="~/Mails/envoi" method="post" id="form-envoi" enctype = "multipart/form-data" style="margin-bottom:10px">
        @Html.AntiForgeryToken()
        @*<input type="text" id="cc" name="CC" class="hidden" value="" />*@
        <table style="width:100%;margin-bottom:5px">
            <tr>
                <th style="width:70%;">
                    <input class="form-control" type="email" id="email" name="AdresseDest" style="width: 100%;height:33px" placeholder="Email.">
                </th>
                <th style="width:30%;padding-left:5px">
                    <input class="form-control contact" type="text" autocomplete="off" list="datalistOptions" id="_email" name="AdresseDest" style="width: 100%;height:33px" placeholder="Contacts">
                    <datalist id="datalistOptions" class="contact" style="width: 100%;">
                        @{
                            try
                            {
                                foreach (var item in userVMs.GroupBy(u => u.Groupe))
                                {
                                    foreach (var dd in item)
                                    {
                                        <option class="cc" id="@dd.Id" value="@dd.Email" email="@dd.Email">@dd.NomComplet</option>
                                    }
                                }
                            }
                            catch (Exception)
                            { }
                        }
                    </datalist>
                </th>
                @*<th>
                    <button type="button" class="note-btn btn btn-default btn-sm" tabindex="-1" title="" ><i class="note-icon-picture"></i>CC</button>
                </th>*@
            </tr>
            <tr>
                <th style="width:70%;padding-top:5px">
                    <input class="form-control" type="text" id="cc" name="CC" style="width: 100%;height:33px" placeholder="CC: Separer deux adresses par une ;" />
                </th>
                <th style="width:30%;padding-left:5px;padding-top:5px">
                    <input class="form-control contact" type="text" autocomplete="off" list="datalistOptions" id="_cc" name="AdresseDest" style="width: 100%;height:33px" placeholder="Contacts">
                    <datalist id="datalistOptions" class="contact" style="width: 100%;">
                        @{
                            try
                            {
                                foreach (var item in userVMs.GroupBy(u => u.Groupe))
                                {
                                    foreach (var dd in item)
                                    {
                                        <option class="cc" id="@dd.Id" value="@dd.Email" email="@dd.Email">@dd.NomComplet</option>
                                    }
                                }
                            }
                            catch (Exception)
                            { }
                        }
                    </datalist>
                </th>
            </tr>
        </table>
        <table style="width:100%;margin-bottom:5px">
            <tr>
                <th style="width:@(estBanque?"70%":"100%");padding-top:5px">
                    <input type="text" placeholder="Objet" id="objet" autocomplete="off" style="margin-top:0px" class="form-control" name="Objet" value="" />
                </th>
                <th class="@(!estBanque?"hidden":"")">
                    <div class="form-check form-check-right mb-3">
                        <input class="form-check-input" type="radio" name="radioSituation"
                               id="nonresolu">
                        <label class="form-check-label" for="nonresolu">
                            Envoyer à tous les clients
                        </label>
                    </div>
                </th>
            </tr>
        </table>
        <div class="hidden">
            <select class="select2 form-control select2-multiple" multiple="multiple" data-placeholder="CC">
                @{
                    try
                    {
                        foreach (var item in userVMs.GroupBy(u => u.Groupe))
                        {
                            <optgroup label="@item.Key">
                                @{
                                    foreach (var dd in item)
                                    {
                                        <option class="cc" id="@dd.Id" email="@dd.Email" value="@dd.Email">@dd.NomComplet</option>
                                    }
                                }
                            </optgroup>
                        }
                    }
                    catch (Exception)
                    { }
                }
            </select>
        </div>
      
        <input type="text" id="Message" style="display:none" name="Message" value="" />
    </form>
    <div id="summernote"><p></p></div>
    <div style="">
        <div id="pan-files" style="margin:0px;margin-bottom:10px;margin-top:-20px;padding:5px;border-bottom:1px solid #d0cccc">

        </div>
        <button class="btn btn-default" title="Ajouter un fichier" id="ajout-file"><i class="mdi mdi-link"></i> Fichier</button>
        <button class="btn btn-default" id="envoi"><i class="mdi mdi-send"></i> envoyer</button>
    </div>

    <script src="~/assets/Encoding.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });

    </script>
    <script>
        $(document).ready(function () {
            $('[data-bs-original-title="Picture"],[data-bs-original-title="Video"]').hide();
            var pan = $('.note-editable')[0];
            var textear = $('.note-codable')[0];
            textear.setAttribute('rows', 10);
            $('#envoi').click(function () {
                if (!pan.innerText) {
                    alert('Le message est vide!');
                    textear.focus();
                    return false;
                }
                var email = document.getElementById('email');
                if (!email.value) {
                    alert('Le destinaire est vide!');
                    email.focus();
                    return false;
                }
                var obj = document.getElementById('objet');
                if (!obj.value) {
                    alert('L\'objet est vide!');
                    obj.focus();
                    return false;
                }
                $("#Message").val(encoding(pan.innerHTML));
                try {
                    //CC
                    var ccs = document.getElementsByClassName('select2-selection__choice');
                    for (var i = 0; i < ccs.length; i++) {
                        document.getElementById('cc').value += ccs[i].lastChild.textContent+";";
                    }

                } catch (e) {

                }
                document.getElementById('form-envoi').submit();
                window.parent.document.getElementById('ifram-new-mail').parentElement.previousSibling.previousSibling.childNodes[3].click();
            });
            pan.style = 'border:1px solid #ddd;margin:10px;height:150px';
        });

    </script>

    <!-- plugins -->
    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    <script src="~/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
    <script src="~/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/assets/libs/chenfengyuan/datepicker/datepicker.min.js"></script>

    <!-- init js -->
    <script src="~/assets/js/pages/form-advanced.init.js"></script>
    <script>
        $(".contact").on('change',function () {
            if (this.id=='_email') {
                $('#email').val(this.value);
            } else {
                if (!document.getElementById('cc').value) {
                    document.getElementById('cc').value = this.value;
                } else {
                    if (!document.getElementById('cc').value.includes(this.value)) {
                        document.getElementById('cc').value += ";" + this.value;
                    }
                }
            }
            this.value = '';
        });
    </script>
    <script>
        //obtenir les images
        let _id = 0;
        $("#ajout-file").on("click", function () {
            try {
                _id = Math.random();
                var x = document.createElement("INPUT");
                x.setAttribute("type", "file");
                x.setAttribute("type", "file");
                x.setAttribute("accept", ".jpg, .jpeg, .png, .pdf");
                x.setAttribute("_id", "" + _id);
                x.setAttribute("Name", "file-" + _id);
                x.classList.add("hidden");
                x.onchange = getFilePreview;
                x.click();
            } catch (e) {
            }
        });

        function getFilePreview(evt) {
            const [file] = evt.target.files;
            if (file) {
                document.getElementById('form-envoi').appendChild(evt.target);
                var but = document.createElement("BUTTON");
                var target = evt.target;
                var i = document.createElement("I");
                but.setAttribute('id', 'btn-file-' + _id);
                but.classList.add('mdif');
                try {
                    var filename = getFileName(target.value);
                    but.setAttribute('title', filename);
                    but.textContent = filename.length > 15 ? filename.substring(0, 15) + '...' : filename;
                    filename = "";
                } catch (e) {

                }
                but.classList.add('btn-ss');
                but.classList.add('btn');
                but.classList.add('btn-link');
                i.classList.add('mdi');
                i.classList.add('text-danger');
                i.classList.add('mdi-delete');
                if (file.type == "application/pdf" || true) {
                    but.classList.add('mdi-pdf');
                } else {
                    but.classList.add('mdi-img-file');
                }
                i.addEventListener('click', function () { but.remove(); target.remove(); });
                but.appendChild(i);
                document.getElementById('pan-files').appendChild(but);
            }
        }
        function getFileName(fullPath) {
            if (fullPath) {
                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                var filename = fullPath.substring(startIndex);
                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
                }
                return filename;
            }
            return "";
        }
    </script>
</body>
</html>
