@model genetrix.Models.Dossier

+"<div>"
    +"<h4>Details du dossiers</h"
    +"<dl class="dl-horizontal">"
    +"    <dt>                  "
    +"        Numero du dossier "
    +"    </dt>                 "
    +"                          "
    +"    <dd>                  "
    +"        @Model.Dossier_Id "
    +"    </dd>                 "
    +"                          "
    +"    <dt>                  "
    +"        Agence            "
    +"    </dt>                 "
    +"                          "
    +"    <dd>                  "
    +"        @Model.Site.Nom   "
    +"    </dd>                 "
    +"                          "
    +"    <dt>                  "
    +"        Montant           "
    +"    </dt>                 "
    +"                          "
    +"    <dd>                  "
    +"        @Model.Montant    "
    +"    </dd>                 "
    +"    <dt>                  "
    +"        Dévise            "
    +"    </dt>                 "
    +"                          "
    +"    <dd>"
    +"       @(Model.DeviseMonetaire!=null? Model.DeviseMonetaire.Nom:"null")"
    +"     </dd>                         "
    +"    <dt>                           "
    +"        Fournisseur                "
    +"    </dt>                          "
    +"                                   "
    +"    <dd>                           "
    +"        @Model.Fournisseur.Nom     "
    +"    </dd>                          "
    +"                                   "
    +"    <dt>                           "
    +"        Date depot banque          "
    +"    </dt>                          "
    +"                                   "
    +"    <dd>                           "
    +"        <label>@Model.DateDepotBank </label>""
    +"    </dd>"
    +"</dl>"
"</div>"

