@using genetrix.Models
@using System.Globalization;

@model genetrix.Models.Bien

@{
    ViewBag.Title = "Bien";
    ViewBag.pTitle = "Edition de l'opération";
    ViewBag.pageTitle = "Bien";
    ViewBag.pageImage = "~/assets/images/IU/encours.png";
}

@*}*@
<style>
    input[type='file'] {
        opacity: 0;
    }
    .file-show {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 38%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .zone{
        border:0.3px solid rgb(187, 187, 187 , 0.30);
        padding-bottom:10px;
    }
</style>
<style>
    .detail {
        border: 1px solid #eef1fd;
        border-radius: 5px 3px;
        margin-bottom: 10px
    }

    .detail0 {
        padding: 5px
    }

    legend {
        background-color: #eef1fd;
        padding: 5px;
        font-size: large;
        font: bold;
        text-transform:uppercase;
    }

    .imf-taille {
        /*max-height: 420px;
        max-width: 320px;*/
        width: 150px;
        height: 200px
    }

    #list-info {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

        #list-info li {
            float: left;
        }

    .col-1 {
        display: none
    }

    .icon-dos {
        font-size: 1.5em;
        color: #2689a6;
    }

    .separation {
        margin: 5px;
    }
</style>
<style>
    details > summary {
        padding: 4px;
        width: 300px;
        background-color: #eeeeee;
        border: none;
        box-shadow: 1px 1px 2px #bbbbbb;
        cursor: pointer;
        font-size: 1.1em;
        color: #2689a6;
    }

    details > div {
        background-color: #eeeeee;
        padding: 4px;
        margin: 0;
        box-shadow: 1px 1px 2px #bbbbbb;
    }
</style>

<div class="hidden1" id="sauv_auto" style="display:none">
    @Html.Partial("~/Views/_Shared/PartialViews/Sauvegarde_Auto.cshtml")
</div>
<div class="row">
    <div class="col-lg-12">
        
        <div class="card">
            <div class="card-body bg-light">
                @*<h4 class="card-title mb-4">Saisie de données</h4>*@

                <div id="basic-example">
                    <!-- Seller Details -->
                    <h3>Saisie des données</h3>
                    <section>
                        <form id="form-create" action="~/dossiers/create">
                            @Html.AntiForgeryToken()
                            <h1 class="font-size-14 mb-4"> <i class="fas fa-asterisk"></i> Définir la nature de l'opération</h1>
                            <hr />
                            <div class="row">
                                <div class="" style="text-align:center!important">
                                    <div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="radio" name="formRadios"
                                                   id="formRadios1" checked>
                                            <label class="form-check-label" for="formRadios1">
                                                Bien
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="formRadios"
                                                   id="formRadios2">
                                            <label class="form-check-label" for="formRadios2">
                                                Service
                                            </label>
                                        </div>
                                    </div>
                                    <fieldset class="detail" id="detail-pan">
                                        <legend class="p-2">Déclaration dimportation de Biens</legend>
                                        <details class="card">
                                            <summary id="detail-donneur">Informations donneur d'ordre</summary>
                                            <div class="row p-2">
                                                <div class="form-group mb-3 col-lg-6 zone" style="padding-left:15px">
                                                    <div class="col-12">
                                                        <label class="control-label mt-2">Importateur (nom/adresse)</label>
                                                        <div class="input-group">
                                                            <div class="input-group-text"><i class="icon-dos mdi mdi-account-search"></i></div>
                                                            <input type="text" class="form-control input-sel" name="ImportaNom" id="ImportaNom" value="@Model.ImportaNomAdress" />
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.ImportaNom, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label class="control-label mt-2">Ville</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Ville de l'importateur"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="ImportaVille" id="ImportaVille" value="@Model.ImportaVille" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.ImportaVille, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-6">
                                                            <label class="control-label mt-2">Pays</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Pays de l'importateur"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="ImportaPays" id="ImportaPays" value="@Model.ImportaPays" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.ImportaPays, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-4">
                                                            @Html.LabelFor(model => model.ImportateurCodeAgr, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Code d'agrément de l'importateur"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="ImportateurCodeAgr" id="ImportateurCodeAgr" value="@Model.ImportateurCodeAgr" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.ImportateurCodeAgr, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-4">
                                                            @Html.LabelFor(model => model.Obtention, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Obtention de l'importation"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="Obtention" id="Obtention" value="@Model.Obtention" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.Obtention, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-4">
                                                            @Html.LabelFor(model => model.Peremption, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Peremption de l'importation"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="Peremption" id="Peremption" value="@Model.Peremption" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.Peremption, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label class="control-label mt-2">Code</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Code de l'importateur"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="ImportateurCode" id="ImportateurCode" value="@Model.ImportateurCode" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.ImportateurCode, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-6">
                                                            <label class="control-label mt-2">Téléphone</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Téléphone de l'importateur"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="ImportateurPhone" id="ImportateurPhone" value="@Model.ImportateurPhone" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.ImportateurPhone, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="col-12">
                                                            @Html.LabelFor(model => model.ImportateurMail, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Adresse mail de l'importateur"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="ImportateurMail" id="ImportateurMail" value="@Model.ImportateurMail" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.ImportateurMail, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3 col-lg-6 zone" style="padding-left:15px">
                                                    <div class="col-12">
                                                        <label class="control-label mt-2">Vendeur (nom/adresse)</label>
                                                        <div class="input-group">
                                                            <div class="input-group-text"><i class="icon-dos mdi mdi-account-search"></i></div>
                                                            <input type="text" class="form-control input-sel" name="VendeurNomAdress" id="VendeurNomAdress" value="@Model.VendeurNomAdress" />
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.VendeurNom, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <label class="control-label mt-2">Ville</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Ville du vendeur"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="VendeurVille" id="VendeurVille" value="@Model.VendeurVille" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.VendeurVille, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-5">
                                                            @Html.LabelFor(model => model.VendeurPaysHorsCemac, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Pays du vendeur"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="VendeurPaysHorsCemac" id="VendeurPaysHorsCemac" value="@Model.VendeurPaysHorsCemac" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.VendeurPaysHorsCemac, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-5">
                                                            @Html.LabelFor(model => model.VendeurPhone, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Téléphone du vendeur"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="VendeurPhone" id="VendeurPhone" value="@Model.VendeurPhone" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.VendeurPhone, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-5">
                                                            @Html.LabelFor(model => model.VendeurFax, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Fax du vendeur"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="VendeurFax" id="VendeurFax" value="@Model.VendeurFax" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.VendeurFax, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="form-group mb-3 col-lg-6 zone" style="padding-left:15px">
                                                    <div class="col-12">
                                                        @Html.LabelFor(model => model.LieuDeroulement, htmlAttributes: new { @class = "control-label mt-2" })
                                                        <div class="input-group">
                                                            <div class="input-group-text"><i class="icon-dos mdi mdi-account-search"></i></div>
                                                            <input type="text" class="form-control input-sel" name="LieuDeroulement" id="LieuDeroulement" value="@Model.LieuDeroulement" />
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.LieuDeroulement, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3 col-lg-6 zone" style="padding-left:15px">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            @Html.LabelFor(model => model.PaysProv, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Pays de provenance du vendeur"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="PaysProv" id="PaysProv" value="@Model.PaysProv" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.PaysProv, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-5">
                                                            @Html.LabelFor(model => model.PaysOrig, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Pays d'origine du vendeur"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="PaysOrig" id="PaysOrig" value="@Model.PaysOrig" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.PaysOrig, "", new { @class = "text-danger" })
                                                        </div>
                                                         
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="row p-2">
                                                <div class="form-group mb-3 col-lg-6 zone" style="padding-left:15px">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            @Html.LabelFor(model => model.ModeTransport, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="ModeTransport" id="ModeTransport" value="@Model.ModeTransport" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.ModeTransport, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-7">
                                                            @Html.LabelFor(model => model.TypeExpedition, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Type d'expedition"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="RefDomiciliation" id="RefDomiciliation" value="@Model.TypeExpedition" />
                                                                <input type="text" class="form-control input-sel" name="TypeExpedition" id="TypeExpedition" value="@Model.TypeExpedition" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.TypeExpedition, "", new { @class = "text-danger" })
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group mb-3 col-lg-6 zone" style="padding-left:15px">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            @Html.LabelFor(model => model.BanqueDomi, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="BanqueDomi" id="BanqueDomi" value="@Model.BanqueDomi" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.BanqueDomi, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-7">
                                                            @Html.LabelFor(model => model.RefDomiciliation, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title="Reférence et date de la domiciliation"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="RefDomiciliation" id="RefDomiciliation" value="@Model.RefDomiciliation" />
                                                                <input type="text" class="form-control input-sel" name="DateDomiciliation" id="DateDomiciliation" value="@Model.DateDomiciliation" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.RefDomiciliation, "", new { @class = "text-danger" })
                                                        </div>
                                                         
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="row p-2">
                                                <div class="form-group mb-3 col-lg-6 zone" style="padding-left:15px">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            @Html.LabelFor(model => model.DeviseMonetaireId, "Devise", htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text"><i class="icon-dos mdi mdi-currency-eur"></i></div>
                                                                @Html.DropDownList("DeviseMonetaireId", null, htmlAttributes: new { @class = "form-control input-sel", id = "DeviseMonetaireId" })
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.DeviseMonetaireId, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-7">
                                                            @Html.LabelFor(model => model.ValeurDevise, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title=""><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="ValeurDevise" id="ValeurDevise" value="@Model.ValeurDevise" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.ValeurDevise, "", new { @class = "text-danger" })
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group mb-3 col-lg-6 zone" style="padding-left:15px">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            @Html.LabelFor(model => model.NumFacturePro, htmlAttributes: new { @class = "control-label mt-2" })
                                                            &emsp;&emsp;&emsp; Date
                                                            <div class="input-group">
                                                                <div class="input-group-text" title=""><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="NumFacturePro" id="NumFacturePro" value="@Model.NumFacturePro" />
                                                                <input type="datetime" class="form-control input-sel" name="DateFacturePro" id="DateFacturePro" value="@Model.DateFacturePro" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.NumFacturePro, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-4">
                                                            @Html.LabelFor(model => model.ModalReglement, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="ModalReglement" id="ModalReglement" value="@Model.ModalReglement" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.ModalReglement, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="row p-2">
                                                <div class="form-group mb-3 col-lg-6 zone" style="padding-left:15px">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            @Html.LabelFor(model => model.TermeVente, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title=""><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="TermeVente" id="TermeVente" value="@Model.TermeVente" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.TermeVente, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-7">
                                                            @Html.LabelFor(model => model.ValeurFOB, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title=""><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="ValeurFOB" id="ValeurFOB" value="@Model.ValeurFOB" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.ValeurFOB, "", new { @class = "text-danger" })
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group mb-3 col-lg-6 zone" style="padding-left:15px">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            @Html.LabelFor(model => model.TauxChange, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="TauxChange" id="TauxChange" value="@Model.TauxChange" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.TauxChange, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-8">
                                                            <div>
                                                                @Html.LabelFor(model => model.ValeurCFA, htmlAttributes: new { @class = "control-label mt-2" })
                                                                <div class="input-group">
                                                                    <div class="input-group-text" title=""><i class="icon-dos mdi mdi-information"></i></div>
                                                                    <input type="number" class="form-control input-sel" name="ValeurCFA" id="ValeurCFA" value="@Model.ValeurCFA" />
                                                                </div>
                                                                @Html.ValidationMessageFor(model => model.ValeurCFA, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div>
                                                                @Html.LabelFor(model => model.ValeurDevise, htmlAttributes: new { @class = "control-label mt-2" })
                                                                <div class="input-group">
                                                                    <div class="input-group-text" title=""><i class="icon-dos mdi mdi-information"></i></div>
                                                                    <input type="number" class="form-control input-sel" name="ValeurDevise" id="ValeurDevise" value="@Model.ValeurDevise" />
                                                                </div>
                                                                @Html.ValidationMessageFor(model => model.ValeurDevise, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="row p-2">
                                                <div class="form-group mb-3 col-lg-6 zone" style="padding-left:15px">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title=""><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="TermeVente" id="Description" value="@Model.Description" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-7">
                                                            @Html.LabelFor(model => model.ServiceConnexe, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title=""><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="ServiceConnexe" id="ServiceConnexe" value="@Model.ServiceConnexe" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.ServiceConnexe, "", new { @class = "text-danger" })
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group mb-3 col-lg-6 zone" style="padding-left:15px">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            @Html.LabelFor(model => model.PosTarif, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="number" class="form-control input-sel" name="PosTarif" id="PosTarif" value="@Model.PosTarif" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.PosTarif, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-3">
                                                            @Html.LabelFor(model => model.Qte, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text" title=""><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="number" class="form-control input-sel" name="Qte" id="Qte" value="@Model.Qte" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.Qte, "", new { @class = "text-danger" })
                                                        </div>
                                                         <div class="col-3">
                                                            @Html.LabelFor(model => model.Unite, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                <div class="input-group-text"><i class="icon-dos mdi mdi-information"></i></div>
                                                                <input type="text" class="form-control input-sel" name="Unite" id="Unite" value="@Model.Unite" />
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.Unite, "", new { @class = "text-danger" })
                                                        </div>
                                                         <div class="col-3">
                                                             @Html.LabelFor(model => model.FOBDevise, htmlAttributes: new { @class = "control-label mt-2" })
                                                             <div class="input-group">
                                                                 <div class="input-group-text" title=""><i class="icon-dos mdi mdi-information"></i></div>
                                                                 <input type="number" class="form-control input-sel" name="FOBDevise" id="FOBDevise" value="@Model.FOBDevise" />
                                                             </div>
                                                             @Html.ValidationMessageFor(model => model.FOBDevise, "", new { @class = "text-danger" })
                                                         </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="">
                                                    <div class="input-group">
                                                        @Html.LabelFor(model => model.TypeExpedition, htmlAttributes: new { @class = "control-label mt-2" })
                                                        <div class="input-group-text"><i class="icon-dos mdi mdi-information"></i></div>
                                                        <input type="number" class="form-control input-sel" name="TypeExpedition" id="TypeExpedition" value="@Model.TypeExpedition" />
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.TypeExpedition, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-4">
                                                    <div class="input-group">
                                                        @Html.LabelFor(model => model.ChequeNum, htmlAttributes: new { @class = "control-label mt-2" })
                                                        <div class="input-group-text"><i class="icon-dos mdi mdi-information"></i></div>
                                                        <input type="text" class="form-control input-sel" name="ChequeNum" id="ChequeNum" value="@Model.ChequeNum" />
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.ChequeNum, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-2">
                                                    @Html.LabelFor(model => model.ChequeDate, htmlAttributes: new { @class = "control-label mt-2" })
                                                    <div class="input-group">
                                                        <div class="input-group-text" title=""><i class="icon-dos mdi mdi-information"></i></div>
                                                        <input type="datetime" class="form-control input-sel" name="ChequeDate" id="ChequeDate" value="@Model.ChequeDate" />
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Qte, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-3">
                                                    @Html.LabelFor(model => model.ChequeBanque, htmlAttributes: new { @class = "control-label mt-2" })
                                                    <div class="input-group">
                                                        <div class="input-group-text"><i class="icon-dos mdi mdi-information"></i></div>
                                                        <input type="text" class="form-control input-sel" name="ChequeBanque" id="ChequeBanque" value="@Model.ChequeBanque" />
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.ChequeBanque, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-3">
                                                    @Html.LabelFor(model => model.ChequeMontantCFA, htmlAttributes: new { @class = "control-label mt-2" })
                                                    <div class="input-group">
                                                        <div class="input-group-text" title=""><i class="icon-dos mdi mdi-information"></i></div>
                                                        <input type="number" class="form-control input-sel" name="ChequeMontantCFA" id="ChequeMontantCFA" value="@Model.ChequeMontantCFA" />
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.ChequeMontantCFA, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                        </details>
                                        <hr class="separation" />
                                        <details>
                                            <summary id="detail-transfert">Informations du transfert</summary>
                                            <div class="row p-2">
                                                <div class="form-group col-lg-6" id="p-motif">
                                                    <div class="col-12">
                                                        <label class="visually-hidden1" for="Motif">Motif du transfert</label>
                                                        <div class="input-group motif">
                                                            <div class="input-group-text motif"><i class="icon-dos mdi mdi-package-variant-closed motif"></i></div>
                                                            <input type="text" name="Motif" rows="3" cols="43" class="form-control motif input-sel" id="Motif" value="@Model.Motif" />
                                                        </div>
                                                        <div class="input-group motif" id="motifs" style="display:none" title="Selectionner le modifi de l'opération">
                                                            <div class="input-group-text bg-info motif" for="_motif" style="background-color:transparent;height:5px;">Motifs: </div>
                                                            <select class="form-control motif" style="height:5px" id="_motif" name="_motif" onchange="document.getElementById('Motif').value=this.value">
                                                                <option value=""></option>
                                                                @{
                                                                    foreach (var item in ViewBag.motifs)
                                                                    {
                                                                        <option value="@item">@item</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.Motif, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    @{
                                                        var natureOps = new List<string>() { "Bien", "Service", "Nulle" };
                                                    }
                                                    <div class="col-12">
                                                        @Html.LabelFor(model => model.NatureOperation, htmlAttributes: new { @class = "control-label mt-2" })
                                                        <div class="input-group">
                                                            <div class="input-group-text"><i class="icon-dos mdi mdi-nintendo-wiiu"></i></div>
                                                            <select name="_NatureOp" class="form-control input-sel" requied="reduied">
                                                                <option value="@Model.NatureOperation">@(Model.NatureOperation==NatureOperation.Nulle?"":""+Model.NatureOperation)</option>
                                                                @foreach (var item in natureOps)
                                                                {
                                                                    if (item != Model.NatureOperation.ToString())
                                                                    {
                                                                        <option value="@item">@(item=="Nulle"?"":item)</option>
                                                                    }
                                                                }
                                                            </select>
                                                            @*@Html.EnumDropDownListFor(model => model.NatureOperation, "", htmlAttributes: new { @class = "form-control input-sel", requied = "reduied" })*@
                                                            @Html.ValidationMessageFor(model => model.NatureOperation, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mt-3">
                                                    <div class="col-12">
                                                        @Html.Label("Montant en Devise", htmlAttributes: new { @class = "control-label mt-2" })
                                                        <div class="input-group">
                                                            <div class="input-group-text"><i class="icon-dos mdi mdi-clock-digital"></i></div>
                                                            @*<input type="number" min="0.00" name="Montant" value="@Model.Montant" lang="en" step="0.01" class="form-control parite valided0 input-sel" id="Montant" />*@
                                                            @Html.EditorFor(model => model.Montant, new { htmlAttributes = new { @class = "form-control parite valided input-sel", @id = "Montant", @lang = "en" } })
                                                        </div>
                                                        <label class="text-muted" style="padding-left:12px;display:inline-block" id="montantToString">@Model.MontantStringDevise</label>
                                                        @Html.ValidationMessageFor(model => model.Montant, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mt-3" style="">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <div class="col-12">
                                                                @Html.LabelFor(model => model.DeviseMonetaireId, "Devise", htmlAttributes: new { @class = "control-label mt-2" })
                                                                <div class="input-group">
                                                                    <div class="input-group-text"><i class="icon-dos mdi mdi-currency-eur"></i></div>
                                                                    @Html.DropDownList("DeviseMonetaireId", null, htmlAttributes: new { @class = "form-control input-sel", id = "DeviseMonetaireId" })
                                                                </div>
                                                                @Html.ValidationMessageFor(model => model.DeviseMonetaireId, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            @Html.LabelFor(model => model.ContreValeurXAF, htmlAttributes: new { @class = "control-label mt-2" })
                                                            <div class="input-group">
                                                                @*<div class="input-group-text"><span class="icon-dos">i</span></div>*@
                                                                @{
                                                                    string devise = "";
                                                                    try
                                                                    {
                                                                        devise = Model.DeviseMonetaire.Nom;
                                                                    }
                                                                    catch (Exception)
                                                                    { }
                                                                    <input type="text" name="ContreValeurXAF" class="form-control input-sel icon-dos" style="font-size:1.1em;height:50px" id="ContreValeurXAF" value="@Model.MontantCVstring" readonly="readonly" />
                                                                    if (devise == "EUR")
                                                                    {
                                                                        @*@Html.EditorFor(model => model.MontantCVToString, new { htmlAttributes = new { @class = "form-control icon-dos", @style = "font-size:1.1em;height:40px", @id = "ContreValeurXAF", @readonly = "readonly" } })*@
                                                                        <label class="text-muted" style="padding-left:12px" id="ContreValeurToString"></label>
                                                                    }
                                                                    else
                                                                    {
                                                                        @*@Html.EditorFor(model => model.MontantCVToString, new { htmlAttributes = new { @class = "form-control icon-dos", @style = "font-size:1.1em;height:40px", @id = "ContreValeurXAF", @readonly = "readonly" } })*@
                                                                        <label class="text-muted" style="padding-left:12px" id="ContreValeurToString">Le cours vous sera communiqué par votre gestionnaire</label>
                                                                    }
                                                                }
                                                                @Html.ValidationMessageFor(model => model.ContreValeurXAF, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 mb-3" style="padding-right:0px">
                                                    <div class="col-12" style="margin-right:0px;padding-right:0px">
                                                        @Html.LabelFor(model => model.MontantEnLettre, "Montant en lettre", htmlAttributes: new { @class = "control-label mt-2" })
                                                        <div class="input-group">
                                                            <textarea name="MontantEnLettre" class="form-control input-sel" multiple id="MontantEnLettre" value="@Model.MontantEnLettre" readonly="readonly">@Model.MontantEnLettre</textarea>
                                                            @*<input type="text" name="MontantEnLettre" class="form-control input-sel" multiple id="MontantEnLettre" value="" readonly="readonly" />*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mt-3 col-lg-6">
                                                    <p></p>
                                                    <div class="form-check form-switch form-switch-lg" dir="ltr" id="pan-customSwitchsizelg">
                                                        <input name="MarchandiseArrivee" type="checkbox" @(Model.MarchandiseArrivee ? "checked value=true" : "value=false") class="form-check-input" style="margin-left:0px" id="customSwitchsizelg">
                                                        <label class="form-check-label" for="customSwitchsizelg">Marchandise déjà arrivée</label>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3 col-lg-6 ">
                                                    <div style="padding-left:10px!important">
                                                        <p></p>
                                                        @Html.LabelFor(model => model.DateSignInst, htmlAttributes: new { @class = "control-label mt-2" })
                                                        <div class="input-group">
                                                            <div class="input-group-text"><i class="icon-dos mdi mdi-calendar-edit"></i></div>
                                                            <input type="date" name="DateSignInst" readonly="readonly" required class="form-control input-sel" id="DateSignInst" value="@Model.DateSignInst" />
                                                            @*@Html.EditorFor(model => model.DateSignInst.Value.Date, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control"}})*@
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.DateSignInst, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </details>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </section>

                    <!-- Company Document -->
                    <h3>Téléchargement des fichiers</h3>
                    <section>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-pancard-input">PAN Card</label>
                                        <input type="text" class="form-control" id="basicpill-pancard-input">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-vatno-input">VAT/TIN No.</label>
                                        <input type="text" class="form-control" id="basicpill-vatno-input">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-cstno-input">CST No.</label>
                                        <input type="text" class="form-control" id="basicpill-cstno-input">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-servicetax-input">Service Tax No.</label>
                                        <input type="text" class="form-control" id="basicpill-servicetax-input">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Company UIN</label>
                                        <input type="text" class="form-control" id="basicpill-companyuin-input">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-declaration-input">Declaration</label>
                                        <input type="text" class="form-control" id="basicpill-Declaration-input">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>

                    <!-- Bank Details -->
                    <h3>Numérisation des documents</h3>
                    <section>
                        <div>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-namecard-input">Name on Card</label>
                                            <input type="text" class="form-control" id="basicpill-namecard-input">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label>Credit Card Type</label>
                                            <select class="form-select">
                                                <option selected>Select Card Type</option>
                                                <option value="AE">American Express</option>
                                                <option value="VI">Visa</option>
                                                <option value="MC">MasterCard</option>
                                                <option value="DI">Discover</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-cardno-input">Credit Card Number</label>
                                            <input type="text" class="form-control" id="basicpill-cardno-input">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-card-verification-input">Card Verification Number</label>
                                            <input type="text" class="form-control" id="basicpill-card-verification-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-expiration-input">Expiration Date</label>
                                            <input type="text" class="form-control" id="basicpill-expiration-input">
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </section>
                </div>
                <button class="btn btn-primary"><i class="fas fa-check"></i> Valider</button>
            </div>
            <!-- end card body -->

        </div>


        <script>
            try {

                //enregistrement auto
                var reflesh = false;
                var elts = document.getElementsByClassName('img-input');
                for (var i = 0; i < elts.length; i++) {
                    elts[i].addEventListener("change", function () {
                        true("ggg")
                        reflesh = true;
                    });
                }
                elts = null;
            } catch (e) {

            }

            document.getElementById("btn-sauvegarde-tmp").addEventListener('click', function () {
                setMontant();
                document.getElementById('form-edit').submit();
            });
            document.getElementById("link-envoie-mt").addEventListener('click', function () {
                document.getElementById("EtapesDosier").value = 1;
                setMontant();
                document.getElementById('form-edit').submit();
            });
        </script>

        <script>
            function setMontant() {
                var _montant = document.getElementById("Montant").value + "";
                var _cv = document.getElementById("ContreValeurXAF").value + "";
                document.getElementById("Montant").value = _montant.replace(/\s/g, "");
                document.getElementById("ContreValeurXAF").value = _cv.replace(/\s/g, "");
            }
        </script>

        <script>

            if (document.getElementById("EtapesDosier").value == 0) {
                document.getElementById("btn-envoie-maintenant").style.display='none';
                document.getElementById("btn-terminer").disabled = true;
            }

            document.getElementById("btn-terminer").addEventListener("click", function () {
                document.getElementById("EtapesDosier").value = 0;
                document.getElementById("btn-envoie-maintenant").style.display = 'initial';
                //document.getElementById("btn-envoie-maintenant").click();
            });

            document.addEventListener(`click`, e => {
                const origin = e.target.closest("a");

                if (origin) {
                    if (origin.textContent == "Suivant") {
                        var dones = document.getElementsByClassName("done");
                        if (dones.length > 7) {
                            document.getElementById("btn-sauvegarde-tmp").disabled = false;
                            document.getElementById("btn-terminer").disabled = false;
                            document.getElementById("btn-terminer").classList.remove("btn-outline-info");
                            document.getElementById("btn-terminer").classList.add("btn-info");
                            document.getElementById("btn-terminer").setAttribute("title", "Vous pouvez terminer l'enregistrement et envoyer le dossier à la banque");
                        }
                    }
                }
            });
        </script>
        <!-- end card -->
    </div>

</div>

@Scripts.Render("~/Content/js")
@Scripts.Render("~/Content/wizard")
