@model genetrix.Models.Importateur


@{
    ViewBag.Title = "Importateur";
    ViewBag.pTitle = "Edition de l'mportateur";
    ViewBag.pageTitle = "Importateur";
    ViewBag.pageImage = "~/assets/images/IU/fournisseur.png";
}
<link href="~/assets/libs/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

@Html.Partial("~/Views/_Shared/_head_css.cshtml")

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header card-header1 text-white">Edition de l'importateur</div>
            <div class="card-body">
                <div class="form-horizontal">
                    <hr />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Importateur</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.NomComplet, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EditorFor(model => model.NomComplet, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NomComplet, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Pays, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EditorFor(model => model.Pays, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Pays, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                @Html.LabelFor(model => model.PaysOrigine, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EditorFor(model => model.PaysOrigine, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PaysOrigine, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                            <div class="form-group">
                                @Html.LabelFor(model => model.Ville, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Profession, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EditorFor(model => model.Profession, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Profession, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Adresse, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group hidden">
                                @Html.LabelFor(model => model.IdGestionnaire, "IdGestionnaire", htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.DropDownList("IdGestionnaire", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdGestionnaire, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group hidden">
                                @Html.LabelFor(model => model.IdClient, "IdClient", htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.DropDownList("IdClient", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdClient, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group hidden">
                                @Html.LabelFor(model => model.Groupe, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EnumDropDownListFor(model => model.Groupe, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Groupe, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CodeAgrement, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EditorFor(model => model.CodeAgrement, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CodeAgrement, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DateOptention, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EditorFor(model => model.DateOptention, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DateOptention, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Immatriculation, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EditorFor(model => model.Immatriculation, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Immatriculation, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NumInscri, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 mb-3">
                                    @Html.EditorFor(model => model.NumInscri, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NumInscri, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 mb-3">
                                    <input type="submit" value="Enregistrer" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
     </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="~/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
@*jquery step*@
<script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
@*form wizard init*@
<script src="~/assets/js/pages/form-wizard.init.js"></script>

<!-- form repeater js -->
<script src="~/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>

<script src="~/assets/js/pages/form-repeater.int.js"></script>
<!-- Magnific Popup-->
<script src="~/assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- lightbox init js-->
<script src="~/assets/js/pages/lightbox.init.js"></script>

<script src="~/assets/js/app.js"></script>

